div#cabecalho { min-height: 90px; }

/* SOBRE */
div.sobre {}

	div.sobre h3 { margin: 15px 30px 20px; }
		
	div.sobre p { display: block; font: 12px/18px Verdana, Sans-Serif; margin: 0 30px 15px; }
		div.sobre p a { color: #789F00; }
		div.sobre p a:hover { text-decoration: underline; }
	div.sobre ul { display: block; margin: 0 30px 15px 45px; }
		div.sobre ul li { margin-top: 15px; }

	div.sobre a.rss { background: url(<%= asset_path 'icones.png' %>) no-repeat -7px -787px; display: inline-block; font-size: 13px; margin-left: 15px; padding-left: 25px; }
		div.sobre a.rss:hover { color: #EE8722; }
		
	div.sobre ul.abas li a { padding-left: 10px !important; }
	
	div.sobre div.release { border-top: 1px solid #E5E5E5; margin: 15px 15px 0; overflow: hidden; padding-top: 15px; }
	div.sobre div.primeiro { border: none; padding-top: 0; }
	
		div.sobre div.release div.data { float: left; width: 50px; }
			div.sobre div.release span.dia { color: #C00; display: block; font: bold 20px/20px Arial, Helvetica, Sans-Serif; }
			div.sobre div.release span.mes { color: #C00; display: block; font: bold 12px/12px Arial, Helvetica, Sans-Serif; }
			
		div.sobre div.release div.conteudo { float: left; margin-right: 15px; width: 620px; }
			div.sobre div.release div.conteudo h5 { margin-bottom: 10px; }
			div.sobre div.release div.conteudo p { color: #888; font: normal normal normal 11px/17px Verdana, Sans-Serif; margin: 0; }
			
		div.sobre div.release div.download { float: left; width: 80px; }
			div.sobre div.release div.download a.botao { margin-bottom: 5px; }
				div.sobre div.release div.download a.botao span { font-size: 11px !important; margin-top: 0 !important; }
			div.sobre div.release div.download span { display: block; font-size: 9px; margin-top: 5px; }
			
	div.sobre div.visual { clear: both; margin: 15px 0 0 15px; overflow: hidden; }
	
		div.sobre div.visual div.logo { float: left; margin: 15px 15px 0 0; width: 180px; }
			div.sobre div.visual div.logo div.imagem { background: #E5E5E5; height: 100px; margin-bottom: 10px; width: 180px; }
				div.sobre div.visual div.logo div.imagem img { margin: auto; max-height: 100px; max-width: 180px; }
				
			div.sobre div.visual div.download { float: left; width: 180px; }
				div.sobre div.visual div.download a.botao { margin-bottom: 5px; }
					div.sobre div.visual div.download a.botao span { font-size: 11px !important; margin-top: 0 !important; }
				div.sobre div.visual div.download span { clear: both; display: block; font-size: 9px; margin-top: 5px; }

/*Who are we*/
.sobre .quemSomos .weAre,
.sobre .quemSomos .how { padding: 0 0 30px 165px; }
.sobre .quemSomos .weAre p,
.sobre .quemSomos .how p,
.sobre .quemSomos .weAre strong,
.sobre .quemSomos .how strong { font: 12px/18px Arial; }
.sobre .quemSomos .weAre strong,
.sobre .quemSomos .how strong { font-weight: bold; }
.sobre .quemSomos .weAre { background: transparent URL(<%= asset_path 'we_are_1.png' %>) no-repeat 30px 0; margin: 10px 0 0 0; }
.sobre .quemSomos .weAre h2,
.sobre .quemSomos .how h5 { color: #547100; margin-bottom: 35px; font-family: Georgia; margin: 0 0 15px 30px; }
.sobre .quemSomos .how h5 { font-size: 17px; }
.sobre .quemSomos .how { background: transparent URL(<%= asset_path 'we_are_2.png' %>) no-repeat 30px 0; }

/*Why to be a partner*/
.sobre .column { width: 380px; float: left; }
.sobre .column2 { background: url(<%= asset_path 'div_contact.jpg' %>) no-repeat scroll 0 -110px transparent; width: 415px;}
.sobre .partner,
.sobre .column h5 { color: #547100; margin-bottom: 35px; font-family: Georgia; }
.sobre .partner{ margin-left: 30px; margin-top: 10px; }
.sobre .column h5 { font-style: italic; margin: 0 0 5px 30px; font-size: 17px; }
.sobre .column p { margin-bottom: 30px; margin-right: 35px; }
.sobre .column p,
.sobre .column p strong,
.sobre .column p strong em { font-size: 12px; line-height: 18px; font: 12px/18px Arial; }
.sobre .column p strong { font-weight: bold; }

/*Contact*/
.sobre .vcontact { margin-bottom: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; width: 250px; height: 150px; padding: 13px 0 13px 135px; background: url(<%= asset_path 'contato.png' %>) no-repeat scroll 13px 13px #F2EFE9; } 
.sobre .vcontact h5 { text-shadow: 0px; color: #547100; margin-bottom: 35px; font-family: Georgia; font-style: italic; margin: 0 0 15px 30px !important; font-size: 17px; }
.sobre .vcontact p { margin-bottom: 6px !important; } 

/*Where We Operate*/
.sobre.where * { font-family: Arial; }
.sobre.where .vcontact { margin: 30px; } 
.sobre.where h2,
.sobre.where h5 { color: #547100; margin: 30px 0 15px 30px; font-family: Georgia; }
.sobre.where h2 { text-shadow: 0px; font-style: italic; margin-top: 10px;}
.sobre.where p { margin: 0 30px; }

/*Work With Us*//*-- inicio padronização janelas --*/
.sobre.work { padding: 30px; width: 735px; background: #fff; }
.sobre.work * { font-family: Arial; }
.sobre.work h2,
.sobre.work h5 { color: #547100; margin: 30px 0 15px; font-family: Georgia; }
.sobre.work h2 { text-shadow: 0px; font-style: italic; margin-top: 0; }
.sobre.work p,
.sobre.work ul { margin: 0; }
.sobre.work ul li { list-style: none; }
.sobre.work p a { font-weight: bold; }
.sobre.work .greeting { margin: 20px 0 0 0; }

/*Help*/
.sobre #help { background: transparent URL(<%= asset_path 'livro.png' %>) no-repeat 0px 0px; margin: -20px 20px 20px; padding: 0 0 0 155px; font-family: Arial;}
.sobre #help p { margin: 0 0 10px; padding: 0;  font-family: Arial !important; }
.sobre #help .category { margin: 30px 0 0; padding: 0; color: #547100; font-size: 16px; font-family: Georgia !important; }
.sobre #help dl dt a{ outline: none !important; text-decoration: none; display: block; color: #666; font-weight: bold; margin: 10px 0 5px 0; padding: 0 0 0 20px; background: transparent URL(<%= asset_path 'mais_faq.png' %>) no-repeat 0px -1px; font-family: Arial !important; }
.sobre #help dl dt a:hover,
.sobre #help dl dt a:focus{ background: transparent URL(<%= asset_path 'mais_hover_faq.png' %>) no-repeat 0px -1px; color: #547100; }
.sobre #help dl dt a.ativo{ background: transparent URL(<%= asset_path 'menos_faq.png' %>) no-repeat 0px -1px; color: #547100; text-decoration: underline; }
.sobre #help dl dd{ display: none; margin: 0 0 20px; padding: 0 0 0 20px; line-height: 18px; font-family: Arial !important; }
.sobre #help dl dd a:hover,
.sobre #help dl dd a:focus { text-decoration: underline; }
.sobre #help dl dd dl dd{ display: block; }</pre></body></html>
