<div class="principal">
  <div class="janela media">
    <div class="cima"></div>
    <div class="meio criarPerfil" id="userCreateAreaId">
      <div>
        <!-- TODO: Imagem -->
        <h1>DealWit.me</h1>
        <!-- TODO: Facebook / Google -->
        <h3>Edite sua informações</h3>

        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
          <ol>
            <li>
              <%= f.label :email %>
              <%= f.text_field :email %>
            </li>

            <li>
              <%= f.label :username %>
              <%= f.text_field :username %>
              <span class="limite">Limite <strong>20</strong> caracteres</span>
            </li>

            <li>
              <%= f.label :name %>
              <%= f.text_field :name %>
            </li>

            <li>
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
              <%= f.password_field :password %>
              <span class="limite">Mínimo <strong>6</strong> caracteres</span>
            </li>

            <li>
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation %>
            </li>

            <li>
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
              <%= f.password_field :current_password %>
            </li>

          </ol>

          <!-- TODO: Transformar o botão igual ao link -->
          <a tabindex="11" class="perfil" href="javascript:;">Atualizar</a>
          <p><%= f.submit "Update" %></p>
        <% end %>
        <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>
        <%= link_to "Back", :back %>        
      </div>
    </div>
    <div class="baixo">
    </div>
  </div>
</div>
				
<div class="lateral">
  <div class="janela pequena">
    <div class="cima"></div>
    <div class="meio sugestoesAmigo">
      <h3>Vantagens de ter um perfil:</h3>								
      <div class="sugestoes">
        <strong class="descubra">Descubra ofertas disponíveis para você</strong>
        <strong class="receba">Receba sugestões com ofertas personalizadas</strong>
        <strong class="compartilhe">Compartilhe sua opinião através de dicas e avaliações</strong>
        <strong class="relacione">Se relacione com seus estabelecimentos favoritos</strong>
      </div>
    </div>
    <div class="baixo"></div>
  </div>
</div>
