<div class="hreview topic opinion answer happiness">
  <% if comment.user.provider? %>
  	<%= link_to(image_tag(comment.user.facebook_profile_picture("square")), user_path(comment.user.username), :class => "user") %>
  <% else %>
  	<%= link_to(image_tag(comment.user.gravatar_url(:size => 39)), user_path(comment.user.username), :class => "user") %>
  <% end %>
  <div class="comment">
    <p class="description text"><%= comment.comment %></p>
    <div class="details">
      <p class="user"><span class="reviewer"><%= link_to(comment.user.username, user_path(comment.user.username)) %></span> em <%= l comment.created_at.to_date %></p> 
	  </div>
    <div class="answers"></div>
	</div>
</div>