<div class="principal">
  <div class="janela media">
    <div class="cima"></div>
    <div class="meio criarPerfil" id="userCreateAreaId">
      <div>
        <!-- TODO: Imagem -->
        <h1>DealWit.me</h1>
        <!-- TODO: Facebook / Google -->
        <h3>Esqueceu sua senha?</h3>

        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
          <%= devise_error_messages! %>

          <p><%= f.label :email %><br />
          <%= f.email_field :email %></p>

          <p><%= f.submit I18n.t("actions.send_new_password") %></p>
        <% end %>

        <%= render :partial => "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
