<div class="span12">
  <div id="edit_user_window" class="window medium_window row">
    <div class="middle newProfile" id="userCreateAreaId">
      <!-- TODO: Imagem -->
      <h1>OfertuS</h1>
      <!-- TODO: Facebook / Google -->
      <h3>Esqueceu sua senha?</h3>

      <div class="row-fluid">
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
          <div class="span5">
            <ol>
              <li>
                <%= f.label :email %>
                <%= f.text_field :email %>
              </li>
            </ol>
          </div>
          <div class="password_button span2">
            <p><%= f.submit I18n.t("actions.send_new_password"), :type=>"image", :src=> asset_path('botao.png'), :alt=> "Confirmar" %></p>
          </div>
        <% end %>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <%= render :partial => "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
