<div class="main">
  <div class="window mediumWindow">
    <div class="up"></div>
    <div class="middle newProfile" id="userCreateAreaId">
      <div>
        <!-- TODO: Imagem -->
        <h1>DealWit.me</h1>
        <!-- TODO: Facebook / Google -->
        <h3>Esqueceu sua senha?</h3>

        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
          <%= devise_error_messages! %>
          <ol>
            <li>
              <%= f.label :email %>
              <%= f.text_field :email %>
            </li>
          </ol>
          <div class="button">
            <p><%= f.submit I18n.t("actions.send_new_password"), :type=>"image", :src=> asset_path('botao.png'), :alt=> "Confirmar" %></p>
          </div>
        <% end %>

        <%= render :partial => "devise/shared/links" %>
      </div>
    </div>
    <div class="down"></div>
  </div>
</div>
