<div class="span12">
  <div id="edit_user_window" class="window medium_window">
    <div class="middle newProfile" id="userCreateAreaId">
      <div>
        <!-- TODO: Imagem -->
        <h1>OfertuS</h1>
        <!-- TODO: Facebook / Google -->
        <h3>Edite suas informações</h3>

        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
          <ol>
            <div ="user_data">
              <li>
                <% if resource.provider? %>
                  <div class="user_picture"> 
                    <%= image_tag resource.facebook_profile_picture %>
                  </div>
                <% else %>
                  <div class="user_picture"> 
                    <%= image_tag resource.gravatar_url %>
                  </div>
                  <div class = "edit_user_picture">
                    <a href="http://gravatar.com/emails/" target="_blank" > <%= I18n.t('actions.edit_picture') %></a>
                  </div>
                <% end %>
              </li>
              <li>
                <%= f.label :email %>
                <% if resource.provider? %>
                  <%= resource.email %>
                <% else %>
                  <%= f.text_field :email %>
                <% end %>
              </li>

              <li>
                <%= f.label :username %>
                <%= f.text_field :username %>
                <span class="limite">Limite <strong>20</strong> caracteres</span>
              </li>

              <li>
                <%= f.label :name %>
                <%= f.text_field :name %>
              </li>

              <% if resource.password_required? %>
                <li>
                  <%= f.label :password %> <i>(deixe em branco se não quiser alterar)</i>
                  <%= f.password_field :password %>
                  <span class="limite">Mínimo <strong>6</strong> caracteres</span>
                </li>

                <li>
                  <%= f.label :password_confirmation %>
                  <%= f.password_field :password_confirmation %>
                </li>

                <li>
                  <%= f.label :current_password %> <i>(para confirmar as alterações, é preciso informar sua senha atual)</i>
                  <%= f.password_field :current_password %>
                </li>
              <% end %>
            </div>
            <% if resource.provider %>
              <div class="facebook_permissions">
                <li>
                  <%= f.label :facebook_share_offer %>
                  <%= f.check_box :facebook_share_offer %>
                </li>
                <li>
                  <%= f.label :facebook_vote_offer %>
                  <%= f.check_box :facebook_vote_offer %>
                </li>
                <li>
                  <%= f.label :facebook_follow_user %>
                  <%= f.check_box :facebook_follow_user %>
                </li>
              </div>
            <% end %>

          </ol>

          <!-- TODO: Transformar o botão igual ao link -->
          <!--<a tabindex="11" class="perfil" href="javascript:;">Atualizar</a>-->
          <div class="button"><%= f.submit "Atualizar", :type=>"image", :src=> asset_path('botao.png'), :alt=> "Confirmar" %></div>
        <% end %>
        <p><%= link_to "Cancelar minha conta", registration_path(resource_name), :confirm => "Tem certeza?", :method => :delete %>.</p>
        <%= link_to "Voltar", :back %>        
      </div>
    </div>
  </div>
</div>
