<div class="offer">
  <div class="deal">
    <%= link_to(image_tag(asset_path('semImagem.jpg'), :alt => "Oferta sem imagem", :title => deal.title), deal_path(deal), :class => "dealPicture") %>
    <div class="offer_time contador#{index}" data-time="#{deal.end_date.try(:to_s, :deal)}" >
      <div class="dealDate">
        <strong>Válida até:</strong>
        <% if deal.end_date? %>
          <%= l deal.end_date.to_date %>
        <% else %>
          Não informado
        <% end %>
      </div>
    </div>
    <strong class="dealTitle"><%= link_to deal.title, deal_path(deal) %></strong>
    <ul>
      <li class="dealUser"><strong>Compartilhada por: </strong><%= link_to deal.user.name, user_path(deal.user.username) %></li>
      <li class="dealCategory"><strong>Categoria: </strong><%= Deal.i18n_category(deal.category) %></li>
      <li class="deaCompany"><strong>Empresa: </strong><%= deal.company %></li>
      <li>
        <ul class="discount">
          <% if (deal.real_price && deal.price) %>
            <li class="dealRealPrice"><span>Preço original</span><strong><%= number_to_currency deal.real_price %></strong></li>
            <li class="dealPromoPrice"><span>Preço oferta</span><strong><%= number_to_currency deal.price %></strong></li>
          <% end %>
          <li class="dealDiscount"><span>Desconto</span><strong><%= deal.discount.to_i %>%</strong></li> 
          <li class="button"><%= link_to 'Saiba mais', deal_path(deal), :class => "button"%></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
