<div class="offer">
  <div class="deal">
    <%= link_to(image_tag(asset_path('no_picture_small.png'), :alt => "Oferta sem imagem", :title => deal.title), deal_path(deal), :class => "deal_picture") %>
    <div>
      <div class="dealDate">
        <!--<strong>Válida até:</strong>-->
        <% if deal.end_date? %>
          <%= l deal.end_date.to_date %>
        <% else %>
          Não informado
        <% end %>
      </div>
    </div>
    <strong class="deal_title"><%= link_to truncate_side_title(deal.title), deal_path(deal), :title => deal.title %></strong>
    <ul>
      <li class="deal_user"><strong>Compartilhada por: </strong><%= link_to deal.user.name, user_path(deal.user.username) %></li>
      <li class="average">
        <% if deal.average %>
          <% if deal.average >= 50 %>
            <strong class="positive"><%= deal.average %>%</strong>
          <% else %>
            <strong class="negative"><%= deal.average %>%</strong>
          <% end %>
        <% end %>
      </li>
    </ul>
    <ul class="discount">
      <% if (deal.real_price && deal.price) %>
        <li class="deal_real_price"><span>Preço original</span><strong><%= number_to_currency deal.real_price %></strong></li>
        <li class="deal_price"><span>Preço oferta</span><strong><%= number_to_currency deal.price %></strong></li>
      <% end %>
      <li class="deal_discount"><span>Desconto</span><strong><%= deal.discount.to_i %>%</strong></li> 
    </ul>
  </div>
</div>
