<div class="principal">
  <div class="janela media">
    <div class="cima"></div>
    <div class="meio criarPerfil" id="newDealPage">
      <div>
        <!-- TODO: Imagem -->
        <h1>DealWit.Me - Deals#new</h1>
        <!-- TODO: Facebook / Google -->
        <h3>Compartilhe uma oferta preenchendo os campos abaixo e clicando em salvar</h3>

        <%= form_for(@deal) do |f| %>
          <ol>
            <li>
              <%= f.label :title %>
              <%= f.text_field :title %>
            </li>
            
            <li>
              <%= f.label :kind %>
              <%= f.select :kind, Deal.i18n_kinds, {:include_blank => ''} %>
            </li>

            <li>
              <%= f.label :price %>
              <%= f.text_field :price_mask, :class => "money" %>
            </li>

            <li>
              <%= f.label :real_price %>
              <%= f.text_field :real_price_mask, :class => "money" %>
            </li>

            <!-- TODO: colocar javascript para ue desconto só apareça quando for do tipo liquidacao -->
            <li>
              <%= f.label :discount %>
              <%= f.text_field :discount %>
              <br/><br/>
              <div class="formTips">
                (Somente números)
              </div>
            </li>

            <li>
              <%= f.label :category %>
              <%= f.select :category, Deal.i18n_categories, {:include_blank => ''} %>
            </li>

            <li>
              <%= f.label :description %>
              <%= f.text_area :description %>
            </li>

            <li>
              <%= f.label :end_date %>
              <%= f.text_field :end_date %>
              <br/><br/>
              <div class="formTips">
                (Informe a data no formato dd/mm/aaaa)
              </div>
            </li>

            <li>
              <%= f.label :link %>
              <%= f.text_field :link %><br/><br/>
              <div class="formTips">
                (O link deve ser no formato http:// ou https://)
              </div>
            </li>

            <li>
              <%= f.label :company %>
              <%= f.text_field :company %>
            </li>

            <li>
              <%= f.label :city %>
              <%= f.select :city_id, @cities_name, {:include_blank => ''} %>
            </li>
          </ol>

          <!-- TODO: Transformar o botão igual ao link -->
          <!--a tabindex="11" class="perfil" href="javascript:;"><%= I18n.t("actions.share") %></a-->
          <%= f.submit I18n.t("actions.share") %>
        <% end %>
      </div>
    </div>
    <div class="baixo"></div>
  </div>
</div>
				
<script>
$(function(){
    $(".money").maskMoney({symbol:"R$ ", decimal:",", thousands:"."});
})
</script>
