<h1>Deals#new</h1>
<table>
  <tr>
    <td>
      <%= form_for([current_user,@deal]) do |f| %>
        <div>
          <%= f.label :title %>
          <%= f.text_field :title %> - 
          <%= f.label "R$" %>
          <%= f.text_field :price %>
        </div>
        <div>
          <%= f.label :type %><br/>
          <%= f.select :type, options_for_type(params[:type]) %>
        </div>
        <div>
          <%= f.label :description %><br />
          <%= f.text_area :description %>
        </div>
        <div>
          <%= f.label :link %><br />
          <%= f.text_field :link %>
        </div>
        <div>
          <%= f.submit "Confirmar" %>
        </div>
      <% end %>
    </td>
  </tr>
</table>
