<div class="principal">
  <div class="janela media">
    <div class="cima"></div>
    <div class="meio criarPerfil" id="newDealPage">
      <div>
        <!-- TODO: Imagem -->
        <h1>DealWit.Me - Deals#new</h1>
        <!-- TODO: Facebook / Google -->
        <h3>Compartilhe uma oferta preenchendo os campos abaixo e clicando em salvar</h3>

        <%= form_for(@deal) do |f| %>
          <ol>
            <li>
              <%= f.label :title %>
              <%= f.text_field :title %>
            </li>

            <li>
              <%= f.label :price %>
              <%= f.text_field :price %>
            </li>

            <li>
              <%= f.label :real_price %>
              <%= f.text_field :real_price %>
            </li>

            <li>
              <%= f.label :discount %>
              <%= f.text_field :discount %>
            </li>

            <li>
              <%= f.label :category %>
              <%= f.select :category, Deal.i18n_categories, {:include_blank => ''} %>
            </li>

            <li>
              <%= f.label :kind %>
              <%= f.select :kind, Deal.i18n_kinds, {:include_blank => ''} %>
            </li>

            <li>
              <%= f.label :description %>
              <%= f.text_area :description %>
            </li>

            <li>
              <%= f.label :link %>
              <%= f.text_field :link %>
            </li>

            <li>
              <%= f.label :company %>
              <%= f.text_field :company %>
            </li>

            <li>
              <%= f.label :city %>
              <%= f.select :city_id, @cities_name, {:include_blank => ''} %>
            </li>
          </ol>

          <!-- TODO: Transformar o botão igual ao link -->
          <a tabindex="11" class="perfil" href="javascript:;">Cadastrar Oferta</a>
          <%= f.submit "Compartilhar Oferta" %>
        <% end %>
      </div>
    </div>
    <div class="baixo"></div>
  </div>
</div>
				
<div class="lateral">
    <div class="baixo"></div>
</div>
