<h1>Deals#new</h1>
<table>
  <tr>
    <td>
      <%= form_for(@deal) do |f| %>
        <div>
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>

        <div>
          <%= f.label :price %>
          <%= f.text_field :price %>
        </div>

        <div>
          <%= f.label :real_price %>
          <%= f.text_field :real_price %>
        </div>

        <div>
          <%= f.label :category %>
          <%= f.select :category, Deal.i18n_categories %>
        </div>

        <div>
          <%= f.label :kind %>
          <%= f.select :kind, Deal.i18n_kinds %>
        </div>

        <div>
          <%= f.label :description %>
          <%= f.text_area :description %>
        </div>

        <div>
          <%= f.label :link %>
          <%= f.text_field :link %>
        </div>

        <div>
          <%= f.label :company %>
          <%= f.text_field :company %>
        </div>

        <div>
          <%= f.label :city %>
          <%= f.text_field :city %>
        </div>

        <div>
          <%= f.submit "Confirm" %>
        </div>
      <% end %>
    </td>
  </tr>
</table>
