<div class="principal">
  <div class="janela media">
    <div class="cima"></div>
    <div class="meio criarPerfil" id="newDealPage">
      <div>
        <!-- TODO: Imagem -->
        <h1>DealWit.Me - Deals#new</h1>
        <!-- TODO: Facebook / Google -->
        <h3>Compartilhe uma oferta preenchendo os campos abaixo e clicando em salvar</h3>

        <%= form_for(@deal) do |f| %>
          <ol>
            <li>
              <%= f.label :title %>
              <%= f.text_field :title %>
            </li>
            
            <li>
              <%= f.label :kind %>
              <%= f.select :kind, Deal.i18n_kinds, {:include_blank => 'Selecione'} %>
            </li>

            <li>
              <%= f.label :real_price %>
              <%= f.text_field :real_price_mask, :class => "money" %>
            </li>

            <li>
              <%= f.label :price %>
              <%= f.text_field :price_mask, :class => "money" %>
            </li>

            <!-- TODO: colocar javascript para ue desconto só apareça quando for do tipo liquidacao -->
            <li>
              <%= f.label :discount %>
              <%= f.text_field :discount %>
              <span class="limite">
                Somente números
              </span>
            </li>

            <li>
              <%= f.label :category %>
              <%= f.select :category, Deal.i18n_categories, {:include_blank => 'Selecione'} %>
            </li>

            <li>
              <%= f.label :description %>
              <%= f.text_area :description %>
            </li>

            <li>
              <%= f.label :end_date %>
              <%= f.text_field :end_date, :class => "datepicker" %>
              <span class="limite">
                Informe a data no formato dd/mm/aaaa
              </span>
            </li>

            <li>
              <%= f.label :link %>
              <%= f.text_field :link %>
              <span class="limite">
                O link deve ser no formato http:// ou https://
              </span>
            </li>

            <li>
              <%= f.label :company %>
              <%= f.text_field :company %>
            </li>

            <li>
              <%= f.label :city %>
              <!--<%= f.select :city_id, @cities_name, {:include_blank => ''} %>-->
              <%= f.select(:city_id, unsorted_grouped_options_for_select(@cities_state_hash), {:include_blank => 'Selecione'}) %>
            </li>
          </ol>

          <!-- TODO: Transformar o botão igual ao link -->
          <!--a tabindex="11" class="perfil" href="javascript:;"><%= I18n.t("actions.share") %></a-->
          <div class="button">
            <%= f.submit I18n.t("actions.share"), :type=>"image", :src=> asset_path('botao.png'), :alt=> "Confirmar" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="baixo"></div>
  </div>
</div>
				
<script>
$(function(){
    $(".money").maskMoney({symbol:"R$ ", decimal:",", thousands:"."})
    $( ".datepicker" ).datepicker({
      showButtonPanel: true, dateFormat: 'dd/mm/yy'
    });
});
</script>
