<!-- PRINCIPAL -->
<div class="principal">
  <!-- pagina oferta -->
  <div class="janelaPadrao paginaOferta">
    <!-- titulo -->
    <div class="titulo">
      <h1 class="deal_title"><%= @deal.title %></h1>
      <span class="deal_category"><%= Deal.i18n_category(@deal.category) %></span>
    </div>
    <!-- titulo -->

    <!-- detalhes -->
    <div class="detalhes">
      <div class="foto">
        <!-- TODO: IMAGEM -->
        <div><%= link_to(image_tag('http://dealwit.me/images/3551-19051120356canvasmenor3.logo.png', :alt => "Estabelecimento sem imagem", :title => @deal.title), deal_path(@deal), :class => "foto") %></div>
      </div>

      <div class="desconto">
        <div class="desconto">
          <div class="bigTicket special discountTicket">
            <strong class="deal_discount"><%= @deal.discount %><sup>%</sup></strong>
          </div>
          
          <% if @deal.price? %>
            <div class="de">
              <span>de:</span>
              <!-- TODO: Refazer essa parte abaixo quando o layout for revisto -->
              <strong class="deal_real_price"><%= number_to_currency @deal.real_price, :format => "<span>%u</span>%n", :separator => ",<span>"%></span></strong>
            </div>

            <div class="por ">
              <span>por:</span>
              <!-- TODO: Refazer essa parte abaixo quando o layout for revisto -->
              <strong class="deal_price"><%= number_to_currency @deal.price, :format => "<span>%u</span>%n", :separator => ",<span>"%></span></strong>
            </div>
          <% end %>

          <div class="comprar">
            <%= link_to "Ir para o site", @deal.link, :class => "botao" %>
          </div>
        </div>
      </div>
    </div>
    <!-- /detalhes -->

    <!-- info -->
    <div class="info">
      <div class="barra">
        <h2>Comentários</h2>
      </div>

      <!-- TODO: COMENTÁRIO -->
      <div class="conteudo">
        <div class="dica topicoPadrao topicoAvaliar">
          <div class="comentario">
            <div class="titulo">
              Comentários entrarão aqui!!!
            </div>
          </div>
        </div>

        <p></p>
      </div>
    </div>
    <!-- /info -->
  </div>
  <!-- /pagina oferta -->
</div>
<!-- /PRINCIPAL -->

<!-- LATERAL -->
<div class="lateral">

  <!-- compartilhar -->
  <div class="janelaPadrao compartilhar">
    <div class="barra">
      <h3>Compartilhe</h3>
    </div>

    <!-- TODO: Compartilhamento -->
    <div class="conteudo">
      <ul class="social">
        <li><a href="/portal/twitter/update?t=4&amp;tw=Frug+-+Shopping+Palladium%3A+um+frozen+yogurt+de+240ml+%2B+3+acompanhamentos+de+6+reais+por+3+reais&amp;u=http://www.acessozero.com.br/curitiba/iogurterias/frugpalladium/oferta-17336014" class="twitter" target="_blank" rel="nofollow" title="Compartilhe essa oferta com seus amigos pelo Twitter">Twitter</a></li>
        <li><a href="http://promote.orkut.com/preview?nt=orkut.com&amp;du=http://www.acessozero.com.br/curitiba/iogurterias/frugpalladium/oferta-17336014" class="orkut" target="_blank" rel="nofollow" title="Compartilhe essa oferta com seus amigos pelo Orkut">Orkut</a></li>
        <li><a href="http://www.facebook.com/share.php?u=http://www.acessozero.com.br/curitiba/iogurterias/frugpalladium/oferta-17336014" class="facebook" target="_blank" rel="nofollow" title="Compartilhe essa oferta com seus amigos pelo Facebook">Facebook</a></li>
        <li><a href="/portal/benefit/share?u=17336014" class="email" rel="nofollow" title="Compartilhe essa oferta com seus amigos por e-mail">E-mail</a></li>
      </ul>
    </div>
  </div>
  <!-- compartilhar -->
</div>
<!-- /LATERAL -->
