<!-- PRINCIPAL -->
<div class="main">
  <!-- pagina oferta -->
  <div class="defaulWindow dealPage">
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style ">
      <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
      <a class="addthis_button_tweet"></a>
      <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
      <a class="addthis_counter addthis_pill_style"></a>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e6fcafd7ed570a3"></script>
    <!-- AddThis Button END -->
    <!-- titulo -->
    <div class="title">
      <h1 class="deal_title"><%= @deal.title %></h1>
      <strong>Compartilhada por: </strong><%= link_to @deal.user.username, user_path(@deal.user.username) %>
    </div>
    <!-- titulo -->

    <!-- detalhes -->
    <div class="details">
      <div class="deal_picture">
        <!-- TODO: IMAGEM -->
        <div>
          <% if @deal.image_url %>
            <%= link_to(image_tag(@deal.image_url, :alt => @deal.image_url, :title => @deal.title, :size => '10px'), deal_path(@deal), :class => "foto") %>
          <% else %>
            <%= link_to(image_tag(asset_path('no_picture_big.png'), :alt => "Oferta sem imagem", :title => @deal.title, :size => '10px'), deal_path(@deal), :class => "foto") %>
          <% end %>
        </div>
      </div>
      <div class="discount">
        <div class="bigTicket special discountTicket">
          <strong class="deal_discount"><%= @deal.discount.to_i %>%</strong>
        </div>
        
        <% if @deal.price? %>
          <div class="from">
            <span>de:</span>
            <!-- TODO: Refazer essa parte abaixo quando o layout for revisto -->
            <strong class="deal_real_price"><%= number_to_currency @deal.real_price, :format => "<span>%u</span>%n", :separator => ",<span>"%></span></strong>
          </div>
          <div class="for ">
            <span>por:</span>
            <!-- TODO: Refazer essa parte abaixo quando o layout for revisto -->
            <strong class="deal_price"><%= number_to_currency @deal.price, :format => "<span>%u</span>%n", :separator => ",<span>"%></span></strong>
          </div>
        <% end %>

        <div class="go_to_website">
          <%= link_to "Ir para o site", @deal.link, :class => "button" %>
        </div>
        <div class="dealInfo">
          <li><strong>Em: </strong><span class="deal_category"><%= Deal.i18n_category(@deal.category) %></span></li>
          <li><strong>Válida para: </strong><spam class="deal_city"><%= @deal.city.name %></spam></li>
        </div>
        <% if user_signed_in? %>
          <div class="votes">
            <div class="like">
              <% if current_user.up_voted? @deal %>
                <%= link_to 'Gostei!(Desfazer)', unvote_deal_path(@deal), :class => "like" %>
              <% else %>
                <%= link_to 'Gostei!', upvote_deal_path(@deal), :class => "like" %>
              <% end %>
              <div class="likes">
                <% if @deal.up_votes <= 1 %>
                  <span><%= @deal.up_votes %> gostou!</span>
                <% else %>
                  <span><%= @deal.up_votes %> gostaram!</span>
                <% end %>
              </div>
            </div>
            <div class="dislike"> 
              <% if current_user.down_voted? @deal %>
                <%= link_to 'Não Gostei!(Desfazer)', unvote_deal_path(@deal), :class => "dislike" %>
              <% else %>
                <%= link_to 'Não gostei!', downvote_deal_path(@deal), :class => "dislike" %>
              <% end %>
              <div class="dislikes">
                <% if @deal.down_votes <= 1 %>
                  <span><%= @deal.down_votes %> não gostou!</span>
                <% else %>
                  <span><%= @deal.down_votes %> não gostaram!</span>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <!-- /detalhes -->
    <div class="info">
      <div class="title">
        <h2>Descrição da Oferta</h2>
      </div>
      <div class="content">
        <p><%= @deal.description %></p>
      </div>
    </div>
  </div>
  <!-- /pagina oferta -->
</div>
<!-- /PRINCIPAL -->

<!-- TODO: COMENTÁRIO -->
<div class="content span8">
  <!-- janela CONTEÚDO --> 
  <div class="default_window comments_window">
    <div class="comment_list" id="tabAreaId" style="min-height: 150px;"> 
      <div class="briefWindow opinions"> 
        <div class="upBar"> 
          <h4><%= I18n.t("comments") %></h4> 
          <div class="topic newTopic" >
            <% if can? :manage, @comment %>
              <div class="new_comment" >
                <%= form_for([@deal,@comment]) do |f| %>
                  <%= f.text_area :comment, :class => "TextArea" %><br/>
                  <%= f.submit I18n.t("actions.comment"), :class => :button %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div> 
        <% if not @deal.comments.empty? %>
          <div class="content"> 
            <% @deal.comments.each do |comment| %>
              <%= render :partial => 'comments/comment', :locals => {:comment => comment} %>
            <% end %>
          </div>  
        <% else %>
          <div class="withoutContent">
            <h4>Não há comentários cadastrados para essa oferta ainda. Seja o primeiro a dar sua opinião escrevendo seu comentário no campo acima.</h4>
          </div>
        <% end %>
        <div class="downBar"><!-- paginacao  --></div> 
      </div> 
    </div>
  </div>
  <!-- /janela CONTEÚDO --> 
</div>

<div class="side span4">
  <div class="buttonPanel">
    <% if user_signed_in? %>
      <%= link_to I18n.t("actions.share_an_offer"), new_deal_path, :class => :shareButton %>
      <%= link_to I18n.t("actions.my_profile"), user_path(current_user.username), :class => :profileButton %>
    <% else %>
      <%= link_to I18n.t("actions.sign_up"), new_user_registration_path, :class => :signupButton %>
      <%= link_to I18n.t("actions.sign_in"), new_user_session_path, :class => :signinButton %>
    <% end %>
  </div>
</div>