<!-- PRINCIPAL -->
<div class="principal">
  <!-- pagina oferta -->
  <div class="janelaPadrao paginaOferta">
    <!-- titulo -->
    <div class="titulo">
      <h1 class="deal_title"><%= @deal.title %></h1>
      <span class="deal_category"><%= Deal.i18n_category(@deal.category) %></span>
    </div>
    <!-- titulo -->

    <!-- detalhes -->
    <div class="detalhes">
      <div class="foto">
        <!-- TODO: IMAGEM -->
        <div><%= link_to(image_tag('http://dealwit.me/images/3551-19051120356canvasmenor3.logo.png', :alt => "Estabelecimento sem imagem", :title => @deal.title), deal_path(@deal), :class => "foto") %></div>
      </div>

      <div class="desconto">
        <div class="desconto">
          <div class="bigTicket special discountTicket">
            <strong class="deal_discount"><%= @deal.discount %><sup>%</sup></strong>
          </div>
          
          <% if @deal.price? %>
            <div class="de">
              <span>de:</span>
              <!-- TODO: Refazer essa parte abaixo quando o layout for revisto -->
              <strong class="deal_real_price"><%= number_to_currency @deal.real_price, :format => "<span>%u</span>%n", :separator => ",<span>"%></span></strong>
            </div>

            <div class="por ">
              <span>por:</span>
              <!-- TODO: Refazer essa parte abaixo quando o layout for revisto -->
              <strong class="deal_price"><%= number_to_currency @deal.price, :format => "<span>%u</span>%n", :separator => ",<span>"%></span></strong>
            </div>
          <% end %>

          <div class="comprar">
            <%= link_to "Ir para o site", @deal.link, :class => "botao" %>
          </div>
        </div>
      </div>
    </div>
    <!-- /detalhes -->
  </div>
  <!-- /pagina oferta -->


    <!-- TODO: COMENTÁRIO -->
    <div class="conteudo">
      <!-- janela CONTEÚDO --> 
  	  <div class="media"> 
			  <div class="janela menu"> 
				  <div class="cima"></div> 
					<div class="meio" id="tabAreaId" style="min-height: 150px;"> 
					  <div class="janelaResumo avaliacoes"> 
						  <div class="barraCima"> 
							  <h4>Comentários</h4> 
                <div class="topico novo" >
                  <div class="comentario" >
                    <%= form_for([@deal,@comment]) do |f| %>
                      <%= f.text_area :comment, :class => "TextArea" %><br/>
                      <%= f.submit "Comentar" %>
                    <% end %>
                  </div>
                </div>
						  </div> 
						  <div class="conteudo"> 
                <% @deal.comments.each do |comment| %>
                  <%= render :partial => 'comments/comment', :locals => {:comment => comment} %>
                <% end %>
							</div>  
              <div class="barraBaixo"> 
							  <!-- paginacao  -->
							</div> 
            </div> 
  				</div> 
 				</div>
			</div>
  		<!-- /janela CONTEÚDO --> 
    </div>
</div>
<!-- /PRINCIPAL -->

