<div class="span8">
  <div class="default_window page_title grey_background">
    <h1>Ofertas do Dia</h1>
  </div>
  <div class="main">
    <div class="dealsMap">
      <div class="default_window grey_background dealsList" id="dealsList">
        <div class="content">
          <div class="content defaultDeal">
            <div class="zero-PagingTable">
              <div class="zero-PagingTableGrid">
                <% @deals.each_with_index do |deal, index| %>
                  <%= render :partial => 'deals/deal', :locals => {:deal => deal, :index => index} %>
                <% end %>
                <%= will_paginate @deals %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="side span4">
  <div class="default_window white_background">
    <div class="title">
      <h3>Opções de Busca</h3>
    </div>
    <div class="content">
      <form id="search_form" action="<%= deals_today_path %>" method="get" class="search">
        <fieldset>
          <legend>Buscar</legend>
          <%= text_field_tag :search, params[:search]%>
          <button id="search" type="submit">Buscar</button>
        </fieldset>

        <%= select_tag "search_order", search_options(params[:search_order]) %>
      </form>
    </div>
  </div>
  <div class="default_window white_background">
    <div class="title">
      <h3>Melhores Ofertas</h3>
    </div>
    <div class="content">
      <div class="best">
        <div class="small_deal">
          <% @best_deals.each do |deal| %>
            <%= render :partial => 'deals/side_deal', :locals => {:deal => deal} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="default_window white_background">
    <div class="title">
      <h3>Ofertas Mais Comentadas</h3>
    </div>
    <div class="content">
      <div class="most_commented">
        <div class="small_deal">
          <% @most_comment_deals.each do |deal| %>
            <%= render :partial => 'deals/side_deal', :locals => {:deal => deal} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="default_window white_background">
    <div class="title">
      <h3>Últimas Ofertas Compartilhadas</h3>
    </div>
    <div class="content">
      <div class="newest">
        <div class="small_deal">
          <% @newest_deals.each do |deal| %>
            <%= render :partial => 'deals/side_deal', :locals => {:deal => deal} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

