<div class="default_window page_title grey_background">
  <h1>Ofertas do Dia</h1>
</div>
<div class="main">
  <div class="dealsMap">
    <div class="default_window grey_background dealsList" id="dealsList">
      <div class="content">
        <div class="content defaultDeal">
          <div class="zero-PagingTable">
            <div class="zero-PagingTableGrid">
              <% @deals.each_with_index do |deal, index| %>
                <%= render :partial => 'deals/deal', :locals => {:deal => deal, :index => index} %>
              <% end %>
              <%= will_paginate @deals %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="side">
  <div class="buttonPanel">
    <% if user_signed_in? %>
      <%= link_to I18n.t("actions.share_an_offer"), new_deal_path, :class => :shareButton %>
      <%= link_to I18n.t("actions.my_profile"), user_path(current_user.username), :class => :profileButton %>
    <% else %>
      <%= link_to I18n.t("actions.sign_up"), new_user_registration_path, :class => :signupButton %>
      <%= link_to I18n.t("actions.sign_in"), new_user_session_path, :class => :signinButton %>
    <% end %>
  </div>
  <div class="default_window white_background">
    <div class="title">
      <h3>Opções de Busca</h3>
    </div>
    <div class="content">
      <form id="search_form" action="<%= deals_today_path %>" method="get" class="search">
        <fieldset>
          <legend>Buscar</legend>
          <%= text_field_tag :search, params[:search]%>
          <button id="search" type="submit">Buscar</button>
        </fieldset>

        <%= select_tag "search_order", search_options(params[:search_order]) %>
      </form>
    </div>
  </div>
</div>

