<!-- TODO: Refatorar o nome do css -->
<div class="window medium_window">
  <div class="up"></div>
  <div class="middle newProfile">
      <h1>DealWit.Me</h1>
      <!-- TODO: Facebook / Google -->
      <h3>Preencha os campos abaixo</h3>

      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <ol>
          <li>
            <%= f.label :login %>
            <%= f.text_field :login %>
          </li>

          <li>
            <%= f.label :password %>
            <%= f.password_field :password %>
          </li>

          <li>
            <% if devise_mapping.rememberable? -%>
              <%= f.label :remember_me, 'Mantenha-me Conectado' %>
              <%= f.check_box :remember_me %>
            <% end -%>
          </li>
        </ol>

        <!-- TODO: Transformar o botão igual ao link -->
        <!--a tabindex="11" class="perfil" href="javascript:;">Entrar</a>-->
        <div class="button">
          <%= f.submit I18n.t("actions.sign_in"), :type=>"image", :src=> asset_path('botao.png'), :alt=> "Confirmar" %>
        </div>
      <% end %>

      <%= render :partial => "devise/shared/links" %>
  </div>
  <div class="down"></div>
</div>
