<p><%= I18n.t('devise.mailer.hello') %> <%= @resource.username %>!</p>

<p><%= I18n.t('devise.mailer.reset_password_instructions.message') %></p>

<p><%= link_to(I18n.t('devise.mailer.reset_password_instructions.reset') %>, edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)) %></p>

<p><%= I18n.t('devise.mailer.reset_password_instructions.ignore') %></p>
<p><%= I18n.t('devise.mailer.reset_password_instructions.wont_change') %></p>
