<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="pt-br" dir="ltr" xml:lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- TODO: Título -->
    <title>DealWit.Me</title>
    <!-- /Título -->

    <!-- TODO: META -->
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta name="keywords" content="Guia, consumo, estabelecimentos, serviços, produtos, satisfação, consumidores, troca de experiências, clientes, tickets, ofertas, descontos, compartilhar, opniões, avaliações, dicas, dúvidas, fórum.  " />
    <meta name="description" 	content="Compartilhe, descubra, comente e opine sobre ofertas com seus amigos no DealWit.Me." />
    <meta name="author" content="DealWit.Me" />
    <meta name="gwt:property"	content="locale=pt_BR" />
    <meta name="gwt:property"	content="cityZero=1" />
    <!-- /META -->

    <!-- TODO: CSS -->
    <%= stylesheet_link_tag "application" %>
    <!-- TODO: /CSS -->

    <!--  TODO: FAVICON -->
    <link rel="icon" href="http://localhost:3000/favicon.ico" />
    <link rel="shortcut icon" href="http://www.acessozero.com.br/imagens/favicon.png" />
    <!--  /FAVICON -->

    <!-- TODO: CANONICAL -->
    <link rel="canonical" href="http://www.acessozero.com.br/" />
    <!-- /CANONICAL -->

    <!-- TODO: SCRIPTS -->
    <%# <script type="text/javascript" language="javascript" src="/acessozero_ui/acessozero_ui.nocache.js"></script>%>
    <script type="text/javascript" language="javascript" src="http://www.acessozero.com.br/js/script.js"></script>
    <%= javascript_include_tag "application" %>
    <!-- /SCRIPTS -->

    <%= csrf_meta_tags %>
  </head>

  <body id="inicio">
    <div id="pagina">
      <div id="cabecalho">
        <!-- TODO: GOOGLE ANALYTICS 1 de 2 - BEGIN -->
        <script type="text/javascript">
          var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
          document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <!-- GOOGLE ANALYTICS 1 de 2 - END -->

        <!-- TODO: Menu -->
				<div class="administracao">
					<div class="interna">
						<ul class="navGlobal">
              <li><a href="/curitiba" class="">Início</a></li>
              <li><%= link_to_active 'Ofertas do Dia', deals_today_path %>
              <li><%= link_to 'Blog', 'http://www.dealwit.us', :target => '_blank' %></li>
						</ul>

            <%= render 'devise/menu/login_items' %>
					</div>
				</div>

        <!-- TODO: CATEGORIAS -->
        <div class="caminho">
          <div class="conteudo">
          
            <!-- logo -->
            <h1 class="logo">DealWit.Me</h1>
            <!-- /logo -->
            <!-- TODO: Busca -->
            <form class="busca" action="/portal/search" method="get" onsubmit="if(document.getElementById('key').value == 'Procure aqui: pizza, sushi, bar, escova, massagem...') (document.getElementById('key').value = ''); if(document.getElementById('where').value == 'Ex.: bairro, rua...') (document.getElementById('where').value = '');">
              <fieldset>
                <legend>Buscar</legend>
                <input id="key" name="key" type="text" value="Procure aqui: pizza, sushi, bar, escova, massagem..." onfocus="if(value=='Procure aqui: pizza, sushi, bar, escova, massagem...')(value='');" onblur="if(this.value=='')(value='Procure aqui: pizza, sushi, bar, escova, massagem...');">
                <input type="hidden" value="" name="where" id="where">
                <button id="buscar" type="submit">Buscar</button>
              </fieldset>
            </form>

            <!-- TODO: Breadcrumb -->
            <ul class="caminho comLocal">
              <li><a href="/">Início</a><span>»</span></li>
              <li><a href="/curitiba/estabelecimentos?s=1">Estabelecimentos</a><span>»</span></li>	
              <li><a href="/curitiba/bares-e-casas-noturnas?s=1">Bares e Casas Noturnas</a><span>»</span></li>	
              <li><a href="/curitiba/bares-e-casas-noturnas/aueraauara?s=1">Auera Auara</a><span>»</span></li>	
              <li>Oferta</li>	
            </ul>

          </div>
        </div>

        <div class="categorias">
          <div class="conteudo">
            <ul class="menu">

              <li class="drink"><a href="/deals/today/drink" title="Visualizar a categoria Bebidas"><%= Deal.i18n_category(Deal::CATEGORY_DRINK) %></a></li>
              <li class="beauty-health"><a href="/deals/today/beauty_and_health" title="Visualizar a categoria Beleza e saúde"><%= Deal.i18n_category(Deal::CATEGORY_BEAUTY_AND_HEALTH) %></a></li>
              <li class="phone-camera"><a href="/deals/today/phone_and_camera" title="Visualizar a categoria Celulares e Câmeras"><%= Deal.i18n_category(Deal::CATEGORY_PHONE_AND_CAMERA) %></a></li>
              <li class="music-movie"><a href="/deals/today/music_and_movie" title="Visualizar a categoria Música e Filmes"><%= Deal.i18n_category(Deal::CATEGORY_MUSIC_AND_MOVIE) %></a></li>
              <li class="home"><a href="/deals/today/home_and_appliance" title="Visualizar a categoria Eletrodomésticos"><%= Deal.i18n_category(Deal::CATEGORY_HOME_AND_APPLIANCE) %></a></li>
              <li class="electronics"><a href="/deals/today/electronics" title="Visualizar a categoria Profissionais autônomos"><%= Deal.i18n_category(Deal::CATEGORY_ELECTRONICS) %></a></li>
              <li class="fitness"><a href="/deals/today/fitness" title="Visualizar a categoria Esporte e Lazer"><%= Deal.i18n_category(Deal::CATEGORY_FITNESS) %></a></li>
              <li class="computer"><a href="/deals/today/computer" title="Visualizar a categoria Informática"><%= Deal.i18n_category(Deal::CATEGORY_COMPUTER) %></a></li>
              <li class="book"><a href="/deals/today/book" title="Visualizar a categoria Livros"><%= Deal.i18n_category(Deal::CATEGORY_BOOK) %></a></li>
              <li class="clothes"><a href="/deals/today/clothes" title="Visualizar a categoria Vestuário"><%= Deal.i18n_category(Deal::CATEGORY_CLOTHES) %></a></li>
              <li class="travel"><a href="/deals/today/travel" title="Visualizar a categoria Viagens"><%= Deal.i18n_category(Deal::CATEGORY_TRAVEL) %></a></li>
              <li class="restaurant"><a href="/deals/today/restaurant" title="Visualizar a categoria Restaurantes"><%= Deal.i18n_category(Deal::CATEGORY_RESTAURANT) %></a></li>
              <li class="toy"><a href="/deals/today/toy" title="Visualizar a categoria Brinquedos"><%= Deal.i18n_category(Deal::CATEGORY_TOY) %></a></li>
              <li class="car"><a href="/deals/today/car" title="Visualizar a categoria Artigos e Peças automotivos"><%= Deal.i18n_category(Deal::CATEGORY_CAR) %></a></li>

            </ul>
          </div>
        </div>
      </div>

      <!--  CORPO -->
      <div id="corpo">
         <!-- TODO: FLASH -->
        <%- flash.each do |name, msg| -%>
          <% if name == :error %>
            <div class="alerta alertaErrado" style="opacity: 1; "><p><%= msg %></p></div>
          <% end %>
          <% if name == :alert %>
            <div class="alerta alertaAviso" style="opacity: 1; "><p><%= msg %></p></div>
          <% end %>
          <% if name == :notice %>
            <div class="alerta alertaCerto" style="opacity: 1; "><p><%= msg %></p></div>
          <% end %>
        <%- end -%>

        <%= yield %>
      </div>

      <!--  RODAPÉ -->
      <div id="rodape">
        <div class="interna menuBottom">
          <ul class="first">
            <li class="title">Sobre a acessozero</li>
            <li><a href="/portal/whoarewe">Quem somos</a></li>
            <li><a href="/portal/whereweoperate">Onde estamos</a></li>
            <li><a href="/consumidores">Consumidores</a></li>
            <li><a href="/portal/pressroom">Sala de imprensa</a></li>
            <li><a href="/curitiba/estabelecimentos">Estabelecimentos</a></li>
            <li><a href="/portal/workwithus">Trabalhe conosco</a></li>
          </ul>

          <ul class="second">
            <li class="title">Os Mais Buscados</li>
            <li><a href="/curitiba/pizzarias">Pizzarias</a></li>
            <li><a href="/curitiba/academias">Academias</a></li>
            <li><a href="/curitiba/clinicas-estetica">Clínicas de estética</a></li>
            <li><a href="/curitiba/japoneses">Japoneses</a></li>
            <li><a href="/curitiba/saloes-beleza">Salões de Beleza </a></li>
            <li><a href="/curitiba/docerias">Docerias</a></li>
            <li><a href="/curitiba/pet-shops">Pet shops</a></li>
          </ul>

          <ul class="third">
            <li class="title">Estabelecimentos</li>
            <li><a href="/curitiba/bares-e-casas-noturnas?s=3">Bares e Casas Noturnas</a></li>
            <li><a href="/curitiba/beleza-saude?s=3">Beleza e saúde</a></li>
            <li><a href="/curitiba/comidinhas?s=3">Comidinhas</a></li>
            <li><a href="/curitiba/compras-e-shopping?s=3">Compras e Shopping</a></li>
            <li><a href="/curitiba/educacao-lazer?s=3">Educação e lazer</a></li>
            <li><a href="/curitiba/profissionais-autonomos?s=3">Profissionais autônomos</a></li>
            <li><a href="/curitiba/restaurantes?s=3">Restaurantes</a></li>
            <li><a href="/curitiba/servicos?s=3">Serviços gerais</a></li>
          </ul>

          <ul class="fourth">
            <li class="title">Informações</li>
            <li><a href="/portal/tickettips">Dicas sobre ofertas</a></li>
            <li><a href="/portal/paymentinfo">Como comprar tickets</a></li>
            <li><a href="/portal/help">Ajuda</a></li>
          </ul>

          <ul class="fifth">
            <li class="title">Contato</li>
            <li><a href="/portal/talkwithus">Fale conosco</a></li>
            <li><a href="/acessozero#forum">Envie um feedback</a></li>
            <li><a href="/portal/whytobeapartner">Por que ser um parceiro?</a></li>

            <li class="first"><a href="/portal/createuser" class="specialLink">Criar Perfil</a></li>
            <li><a onclick="return gwtnav(this)" href="#login/p" class="specialLink">Entrar</a></li>
            <li><a href="http://blog.acessozero.com.br/" class="specialLink">Blog</a></li>
          </ul>
        </div>

        <div class="socialMenu">
          <div class="interna">
            <ul>
              <li class="title">Conheça também:</li>
              <li class="first"><a href="http://www.facebook.com/acessozero" class="facebook" rel="nofollow" target="_blank" title="Facebook">Facebook</a></li>
              <li><a href="http://www.twitter.com/acessozero" class="twitter" rel="nofollow" target="_blank" title="Twitter">Twitter</a></li>
              <li><a href="http://www.orkut.com.br/Main#Community?cmm=96317297" class="orkut"	rel="nofollow" target="_blank" title="Orkut">Orkut</a></li>
            </ul>
          </div>
        </div>

        <div class="copyright">
          <ul class="interna">
            <li>&copy;2011 acessozero</li>
            <li><a onclick="return gwtnav(this)" href="#doc/c">Código de conduta</a></li>
            <li><a onclick="return gwtnav(this)" href="#doc/u">Termos de uso</a></li>
            <li><a onclick="return gwtnav(this)" href="#doc/p">Política de privacidade</a></li>
            <li><a href="/portal/workwithus">Trabalhe conosco</a></li>
            <li><a href="/portal/whytobeapartner">Por que ser um parceiro?</a></li>
          </ul>
        </div>

        <!-- TODO: GOOGLE ANALYTICS 2 de 2 - BEGIN -->
        <script type="text/javascript">
          try {
            var pageTracker = _gat._getTracker("UA-9013682-1");
            pageTracker._trackPageview();
          } catch(err) {}
        </script>
        <!-- GOOGLE ANALYTICS 2 de 2 - END -->
				</div>
			</div>
    </div>
  </body>
</html>
