<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="pt-br" dir="ltr" xml:lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- TODO: Título -->
    <title>DealWit.Me</title>
    <!-- /Título -->

    <!-- TODO: META -->
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta name="keywords" content="Guia, consumo, estabelecimentos, serviços, produtos, satisfação, consumidores, troca de experiências, clientes, tickets, ofertas, descontos, compartilhar, opniões, avaliações, dicas, dúvidas, fórum.  " />
    <meta name="description" 	content="Compartilhe, descubra, comente e opine sobre ofertas com seus amigos no DealWit.Me." />
    <meta name="author" content="DealWit.Me" />
    <meta name="gwt:property"	content="locale=pt_BR" />
    <meta name="gwt:property"	content="cityZero=1" />
    <!-- /META -->

    <!-- TODO: CSS -->
    <%= stylesheet_link_tag "application" %>
    <!-- TODO: /CSS -->

    <!--  TODO: FAVICON -->
    <link rel="icon" href="http://localhost:3000/favicon.ico" />
    <link rel="shortcut icon" href="http://www.dealwit.me/imagens/favicon.png" />
    <!--  /FAVICON -->

    <!-- TODO: CANONICAL -->
    <link rel="canonical" href="http://www.dealwit.me/" />
    <!-- /CANONICAL -->

    <!-- TODO: SCRIPTS -->
    <%# <script type="text/javascript" language="javascript" src="/acessozero_ui/acessozero_ui.nocache.js"></script>%>
    <script type="text/javascript" language="javascript" src="http://www.acessozero.com.br/js/script.js"></script>
    <%= javascript_include_tag "application" %>
    <!-- /SCRIPTS -->

    <%= csrf_meta_tags %>
  </head>

  <body id="inicio">
    <div id="pagina">
      <div id="cabecalho">
        <!-- TODO: GOOGLE ANALYTICS 1 de 2 - BEGIN -->
        <script type="text/javascript">
          var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
          document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <!-- GOOGLE ANALYTICS 1 de 2 - END -->

        <!-- TODO: Menu -->
				<div class="administracao">
					<div class="interna">
						<ul class="navGlobal">
              <li><%= link_to_active "Início", root_path %></li>
              <li><%= link_to_active 'Ofertas do Dia', deals_today_path %></li>
              <li><%= link_to 'Blog', 'http://www.dealwit.us', :target => '_blank' %></li>
						</ul>

            <%= render 'devise/menu/login_items' %>
					</div>
				</div>

        <!-- TODO: CATEGORIAS -->
        <div class="caminho">
          <div class="conteudo">

            <h1 class="logo">DealWit.Me</h1>

            <form action="<%= search_path %>" method="get" class="busca">
              <fieldset>
                <legend>Buscar</legend>
                <%= text_field_tag :search, params[:search]%>
                <button id="buscar" type="submit">Buscar</button>
              </fieldset>
            </form>
          </div>
        </div>

        <div class="categorias">
          <div class="conteudo">
            <ul class="menu">

              <li class="drink"><a href="/deals/today/drink" title="Visualizar a categoria Bebidas"><%= Deal.i18n_category(Deal::CATEGORY_DRINK) %></a></li>
              <li class="beauty-health"><a href="/deals/today/beauty_and_health" title="Visualizar a categoria Beleza e saúde"><%= Deal.i18n_category(Deal::CATEGORY_BEAUTY_AND_HEALTH) %></a></li>
              <li class="phone-camera"><a href="/deals/today/phone_and_camera" title="Visualizar a categoria Celulares e Câmeras"><%= Deal.i18n_category(Deal::CATEGORY_PHONE_AND_CAMERA) %></a></li>
              <li class="music-movie"><a href="/deals/today/music_and_movie" title="Visualizar a categoria Música e Filmes"><%= Deal.i18n_category(Deal::CATEGORY_MUSIC_AND_MOVIE) %></a></li>
              <li class="home"><a href="/deals/today/home_and_appliance" title="Visualizar a categoria Eletrodomésticos"><%= Deal.i18n_category(Deal::CATEGORY_HOME_AND_APPLIANCE) %></a></li>
              <li class="electronics"><a href="/deals/today/electronics" title="Visualizar a categoria Profissionais autônomos"><%= Deal.i18n_category(Deal::CATEGORY_ELECTRONICS) %></a></li>
              <li class="fitness"><a href="/deals/today/fitness" title="Visualizar a categoria Esporte e Lazer"><%= Deal.i18n_category(Deal::CATEGORY_FITNESS) %></a></li>
              <li class="computer"><a href="/deals/today/computer" title="Visualizar a categoria Informática"><%= Deal.i18n_category(Deal::CATEGORY_COMPUTER) %></a></li>
              <li class="book"><a href="/deals/today/book" title="Visualizar a categoria Livros"><%= Deal.i18n_category(Deal::CATEGORY_BOOK) %></a></li>
              <li class="clothes"><a href="/deals/today/clothes" title="Visualizar a categoria Vestuário"><%= Deal.i18n_category(Deal::CATEGORY_CLOTHES) %></a></li>
              <li class="travel"><a href="/deals/today/travel" title="Visualizar a categoria Viagens"><%= Deal.i18n_category(Deal::CATEGORY_TRAVEL) %></a></li>
              <li class="restaurant"><a href="/deals/today/restaurant" title="Visualizar a categoria Restaurantes"><%= Deal.i18n_category(Deal::CATEGORY_RESTAURANT) %></a></li>
              <li class="toy"><a href="/deals/today/toy" title="Visualizar a categoria Brinquedos"><%= Deal.i18n_category(Deal::CATEGORY_TOY) %></a></li>
              <li class="car"><a href="/deals/today/car" title="Visualizar a categoria Artigos e Peças automotivos"><%= Deal.i18n_category(Deal::CATEGORY_CAR) %></a></li>

            </ul>
          </div>
        </div>
      </div>

      <!--  CORPO -->
      <div id="corpo">
         <!-- TODO: FLASH -->
        <%- flash.each do |name, msg| -%>
          <% if name == :error %>
            <div class="alerta alertaErrado" style="opacity: 1; "><p><%= msg %></p></div>
          <% end %>
          <% if name == :alert %>
            <div class="alerta alertaAviso" style="opacity: 1; "><p><%= msg %></p></div>
          <% end %>
          <% if name == :notice %>
            <div class="alerta alertaCerto" style="opacity: 1; "><p><%= msg %></p></div>
          <% end %>
        <%- end -%>

        <%= yield %>
      </div>

      <!--  RODAPÉ -->
      <div id="rodape">
        <div class="interna menuBottom">
          <ul class="first">
            <li class="title">Sobre DealWit.Me</li>
            <li><a href="/portal/whoarewe">Quem somos</a></li>
          </ul>

          <ul class="second">
            <li class="title">Categorias - 1</li>
            <li><a href="/deals/today/drink"><%= Deal.i18n_category(Deal::CATEGORY_DRINK) %></a></li>
            <li><a href="/deals/today/beauty_and_health"><%= Deal.i18n_category(Deal::CATEGORY_BEAUTY_AND_HEALTH) %></a></li>
            <li><a href="/deals/today/phone_and_camera"><%= Deal.i18n_category(Deal::CATEGORY_PHONE_AND_CAMERA) %></a></li>
            <li><a href="/deals/today/music_and_movie"><%= Deal.i18n_category(Deal::CATEGORY_MUSIC_AND_MOVIE) %></a></li>
            <li><a href="/deals/today/home_and_appliance"><%= Deal.i18n_category(Deal::CATEGORY_HOME_AND_APPLIANCE) %></a></li>
            <li><a href="/deals/today/electronics"><%= Deal.i18n_category(Deal::CATEGORY_ELECTRONICS) %></a></li>
          </ul>

          <ul class="third">
            <li class="title">Categorias - 2</li>
            <li><a href="/deals/today/fitness"><%= Deal.i18n_category(Deal::CATEGORY_FITNESS) %></a></li>
            <li><a href="/deals/today/computer"><%= Deal.i18n_category(Deal::CATEGORY_COMPUTER) %></a></li>
            <li><a href="/deals/today/book"><%= Deal.i18n_category(Deal::CATEGORY_BOOK) %></a></li>
            <li><a href="/deals/today/clothes"><%= Deal.i18n_category(Deal::CATEGORY_CLOTHES) %></a></li>
            <li><a href="/deals/today/travel"><%= Deal.i18n_category(Deal::CATEGORY_TRAVEL) %></a></li>
            <li><a href="/deals/today/toy"><%= Deal.i18n_category(Deal::CATEGORY_TOY) %></a></li>
            <li><a href="/deals/today/car"><%= Deal.i18n_category(Deal::CATEGORY_CAR) %></a></li>
          </ul>

          <ul class="fourth">
            <li class="title">Informações</li>
            <li><a href="/portal/help">Ajuda</a></li>
          </ul>

          <ul class="fifth">
            <li class="title">Contato</li>
            <li><a href="http://dealwitme.uservoice.com/" target="_blank">Fale conosco</a></li>
            <li><a href="http://www.dealwit.us/" target="_blank">Siga nosso Blog</a></li><br/>
            <% if user_signed_in? %>
                <!-- TODO: Menu logado -->
                <li><%= link_to_active "Meu Perfil", user_path(current_user.username), :class => "specialLink" %></li>
                <li><%= link_to_active "Cadastrar Oferta", new_deal_path, :class => "specialLink" %></li>
                <li><%= link_to 'Sair', destroy_user_session_path, :class => "specialLink" %></li>
              </ul>
            <% else %>
                <li><%= link_to 'Crie seu perfil', new_user_registration_path, :class => "specialLink" %></li>
                <li><%= link_to 'Entrar', new_user_session_path, :class => "specialLink" %></li>
            <% end %>
          </ul>
        </div>

        <div class="socialMenu">
          <div class="interna">
            <ul>
              <li class="title">Conheça também:</li>
              <li class="first"><a href="http://www.facebook.com/pages/DealWitMe/185842298135367" class="facebook" rel="nofollow" target="_blank" title="Facebook">Facebook</a></li>
              <li><a href="http://www.twitter.com/dealwitme" class="twitter" rel="nofollow" target="_blank" title="Twitter">Twitter</a></li>
            </ul>
          </div>
        </div>

        <div class="copyright">
          <ul class="interna">
            <li>&copy;2011 dealwitme</li>
            <li><a onclick="return gwtnav(this)" href="#doc/c">Código de conduta</a></li>
            <li><a onclick="return gwtnav(this)" href="#doc/u">Termos de uso</a></li>
            <li><a onclick="return gwtnav(this)" href="#doc/p">Política de privacidade</a></li>
          </ul>
        </div>

        <!-- TODO: GOOGLE ANALYTICS 2 de 2 - BEGIN -->
        <script type="text/javascript">
          try {
            var pageTracker = _gat._getTracker("UA-9013682-1");
            pageTracker._trackPageview();
          } catch(err) {}
        </script>
        <!-- GOOGLE ANALYTICS 2 de 2 - END -->
				</div>
			</div>
    </div>
    <!-- User Voice -->
    <script type="text/javascript">
      var uvOptions = {};
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/KhjBP9Wz0hWPZKkPOj6DbQ.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
    </script>
    <!-- User Voice -->
  </body>
</html>
