<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="pt-br" dir="ltr" xml:lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- TODO: Título -->
    <title>DealWit.Me</title>
    <!-- /Título -->

    <!-- TODO: META -->
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta name="keywords" content="Guia, consumo, estabelecimentos, serviços, produtos, satisfação, consumidores, troca de experiências, clientes, tickets, ofertas, descontos, compartilhar, opniões, avaliações, dicas, dúvidas, fórum.  " />
    <meta name="description" 	content="Curitiba - Dicas, avaliações e ofertas de até 90% de desconto dos melhores bares, restaurantes, pizzarias, casas noturnas e outros estabelecimentos na Acessozero." />
    <meta name="author" content="Acessozero" />
    <meta name="gwt:property"	content="locale=pt_BR" />
    <meta name="gwt:property"	content="cityZero=1" />
    <!-- /META -->

    <!-- TODO: CSS -->
    <link media="screen" type="text/css" rel="stylesheet" href="http://www.acessozero.com.br/css/estilo-tela.css" />
    <%# <link media="screen" type="text/css" rel="stylesheet" href="http://www.acessozero.com.br/css/pagina/corpo/paineis.css" />%>
    <%# <link media="screen" type="text/css" rel="stylesheet" href="http://www.acessozero.com.br/css/pagina/corpo/home.css" />%>
    <%# <link media="screen" type="text/css" rel="stylesheet" href="http://www.acessozero.com.br/css/pagina/corpo/busca.css" />%>
    <%# <link media="screen" type="text/css" rel="stylesheet" href="http://www.acessozero.com.br/css/pagina/corpo/tickets.css" />%>
    <%= yield :css %>
    <%= stylesheet_link_tag "application" %>
    <!-- TODO: /CSS -->

    <!--  TODO: FAVICON -->
    <link rel="icon" href="http://www.acessozero.com.br/imagens/favicon.ico" />
    <link rel="shortcut icon" href="http://www.acessozero.com.br/imagens/favicon.ico" />
    <!--  /FAVICON -->

    <!-- TODO: CANONICAL -->
    <link rel="canonical" href="http://www.acessozero.com.br/" />
    <!-- /CANONICAL -->

    <!-- TODO: SCRIPTS -->
    <script type="text/javascript" language="javascript" src="/acessozero_ui/acessozero_ui.nocache.js"></script>
    <script type="text/javascript" language="javascript" src="http://www.acessozero.com.br/js/script.js"></script>
    <%= javascript_include_tag "application" %>
    <!-- /SCRIPTS -->

    <%= csrf_meta_tags %>
  </head>

  <body id="inicio">
    <div id="pagina">
      <div id="cabecalho">
        <!-- TODO: GOOGLE ANALYTICS 1 de 2 - BEGIN -->
        <script type="text/javascript">
          var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
          document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <!-- GOOGLE ANALYTICS 1 de 2 - END -->

        <!-- TODO: Menu -->
				<div class="administracao">
					<div class="interna">
						<ul class="navGlobal">
              <li><a href="/curitiba" class="">Início</a></li>
              <li><%= link_to_active 'Ofertas do Dia', deals_today_path %>
							<li><a href="http://blog.acessozero.com.br" target="_blank">Blog</a></li>
						</ul>

            <%= render 'devise/menu/login_items' %>
					</div>
				</div>

        <!-- TODO: CATEGORIAS -->
        <div class="categorias">
          <div class="conteudo">
            <!-- logo -->
            <h1 class="logo">Acessozero</h1>
            <!-- /logo -->
            <ul class="menu">
              <li class="bares-e-casas-noturnas"><a href="/curitiba/bares-e-casas-noturnas" title="Visualizar a categoria Bares e Casas Noturnas">Bares e Casas Noturnas</a></li>
              <li class="beleza-saude"><a href="/curitiba/beleza-saude" title="Visualizar a categoria Beleza e saúde">Beleza e saúde</a></li>
              <li class="comidinhas"><a href="/curitiba/comidinhas" title="Visualizar a categoria Comidinhas">Comidinhas</a></li>
              <li class="compras-e-shopping"><a href="/curitiba/compras-e-shopping" title="Visualizar a categoria Compras e Shopping">Compras e Shopping</a></li>
              <li class="educacao-lazer"><a href="/curitiba/educacao-lazer" title="Visualizar a categoria Educação e lazer">Educação e lazer</a></li>
              <li class="profissionais-autonomos"><a href="/curitiba/profissionais-autonomos" title="Visualizar a categoria Profissionais autônomos">Profissionais autônomos</a></li>
              <li class="restaurantes"><a href="/curitiba/restaurantes" title="Visualizar a categoria Restaurantes">Restaurantes</a></li>
              <li class="servicos"><a href="/curitiba/servicos" title="Visualizar a categoria Serviços gerais">Serviços gerais</a></li>
            </ul>
          </div>
        </div>

        <div class="caminho">
          <div class="interna">
            <!-- TODO: Busca -->
            <form class="busca" action="/portal/search" method="get" onsubmit="if(document.getElementById('key').value == 'Procure aqui: pizza, sushi, bar, escova, massagem...') (document.getElementById('key').value = ''); if(document.getElementById('where').value == 'Ex.: bairro, rua...') (document.getElementById('where').value = '');">
              <fieldset>
                <legend>Buscar</legend>
                <input id="key" name="key" type="text" value="Procure aqui: pizza, sushi, bar, escova, massagem..." onfocus="if(value=='Procure aqui: pizza, sushi, bar, escova, massagem...')(value='');" onblur="if(this.value=='')(value='Procure aqui: pizza, sushi, bar, escova, massagem...');">
                <input type="hidden" value="" name="where" id="where">
                <button id="buscar" type="submit">Buscar</button>
              </fieldset>
            </form>

            <!-- TODO: Breadcrumb -->
            <ul class="caminho comLocal">
              <li><a href="/">Início</a><span>»</span></li>
              <li><a href="/curitiba/estabelecimentos?s=1">Estabelecimentos</a><span>»</span></li>	
              <li><a href="/curitiba/bares-e-casas-noturnas?s=1">Bares e Casas Noturnas</a><span>»</span></li>	
              <li><a href="/curitiba/bares-e-casas-noturnas/aueraauara?s=1">Auera Auara</a><span>»</span></li>	
              <li>Oferta</li>	
            </ul>
          </div>
        </div>
      </div>

      <!--  CORPO -->
      <div id="corpo">
         <!-- TODO: FLASH -->
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        <%- end -%>

        <%= yield %>
      </div>

      <!--  RODAPÉ -->
      <div id="rodape">
        <div class="interna menuBottom">
          <ul class="first">
            <li class="title">Sobre a acessozero</li>
            <li><a href="/portal/whoarewe">Quem somos</a></li>
            <li><a href="/portal/whereweoperate">Onde estamos</a></li>
            <li><a href="/consumidores">Consumidores</a></li>
            <li><a href="/portal/pressroom">Sala de imprensa</a></li>
            <li><a href="/curitiba/estabelecimentos">Estabelecimentos</a></li>
            <li><a href="/portal/workwithus">Trabalhe conosco</a></li>
          </ul>

          <ul class="second">
            <li class="title">Os Mais Buscados</li>
            <li><a href="/curitiba/pizzarias">Pizzarias</a></li>
            <li><a href="/curitiba/academias">Academias</a></li>
            <li><a href="/curitiba/clinicas-estetica">Clínicas de estética</a></li>
            <li><a href="/curitiba/japoneses">Japoneses</a></li>
            <li><a href="/curitiba/saloes-beleza">Salões de Beleza </a></li>
            <li><a href="/curitiba/docerias">Docerias</a></li>
            <li><a href="/curitiba/pet-shops">Pet shops</a></li>
          </ul>

          <ul class="third">
            <li class="title">Estabelecimentos</li>
            <li><a href="/curitiba/bares-e-casas-noturnas?s=3">Bares e Casas Noturnas</a></li>
            <li><a href="/curitiba/beleza-saude?s=3">Beleza e saúde</a></li>
            <li><a href="/curitiba/comidinhas?s=3">Comidinhas</a></li>
            <li><a href="/curitiba/compras-e-shopping?s=3">Compras e Shopping</a></li>
            <li><a href="/curitiba/educacao-lazer?s=3">Educação e lazer</a></li>
            <li><a href="/curitiba/profissionais-autonomos?s=3">Profissionais autônomos</a></li>
            <li><a href="/curitiba/restaurantes?s=3">Restaurantes</a></li>
            <li><a href="/curitiba/servicos?s=3">Serviços gerais</a></li>
          </ul>

          <ul class="fourth">
            <li class="title">Informações</li>
            <li><a href="/portal/tickettips">Dicas sobre ofertas</a></li>
            <li><a href="/portal/paymentinfo">Como comprar tickets</a></li>
            <li><a href="/portal/help">Ajuda</a></li>
          </ul>

          <ul class="fifth">
            <li class="title">Contato</li>
            <li><a href="/portal/talkwithus">Fale conosco</a></li>
            <li><a href="/acessozero#forum">Envie um feedback</a></li>
            <li><a href="/portal/whytobeapartner">Por que ser um parceiro?</a></li>

            <li class="first"><a href="/portal/createuser" class="specialLink">Criar Perfil</a></li>
            <li><a onclick="return gwtnav(this)" href="#login/p" class="specialLink">Entrar</a></li>
            <li><a href="http://blog.acessozero.com.br/" class="specialLink">Blog</a></li>
          </ul>
        </div>

        <div class="socialMenu">
          <div class="interna">
            <ul>
              <li class="title">Conheça também:</li>
              <li class="first"><a href="http://www.facebook.com/acessozero" class="facebook" rel="nofollow" target="_blank" title="Facebook">Facebook</a></li>
              <li><a href="http://www.twitter.com/acessozero" class="twitter" rel="nofollow" target="_blank" title="Twitter">Twitter</a></li>
              <li><a href="http://www.orkut.com.br/Main#Community?cmm=96317297" class="orkut"	rel="nofollow" target="_blank" title="Orkut">Orkut</a></li>
            </ul>
          </div>
        </div>

        <div class="copyright">
          <ul class="interna">
            <li>&copy;2011 acessozero</li>
            <li><a onclick="return gwtnav(this)" href="#doc/c">Código de conduta</a></li>
            <li><a onclick="return gwtnav(this)" href="#doc/u">Termos de uso</a></li>
            <li><a onclick="return gwtnav(this)" href="#doc/p">Política de privacidade</a></li>
            <li><a href="/portal/workwithus">Trabalhe conosco</a></li>
            <li><a href="/portal/whytobeapartner">Por que ser um parceiro?</a></li>
          </ul>
        </div>

        <!-- TODO: GOOGLE ANALYTICS 2 de 2 - BEGIN -->
        <script type="text/javascript">
          try {
            var pageTracker = _gat._getTracker("UA-9013682-1");
            pageTracker._trackPageview();
          } catch(err) {}
        </script>
        <!-- GOOGLE ANALYTICS 2 de 2 - END -->
				</div>
			</div>
    </div>
  </body>
</html>
