<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="pt-br" dir="ltr" xml:lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= title %></title>

    <!-- TODO: META -->
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta name="keywords" content="serviços, produtos, satisfação, consumidores, clientes, ofertas, descontos, compartilhar, opniões, avaliações, dicas, dúvidas, fórum.  " />
    <meta name="description" 	content="Compartilhe, descubra, comente e opine sobre ofertas com seus amigos no OfertuS." />
    <meta name="author" content="OfertuS" />
    <meta name="gwt:property"	content="locale=pt_BR" />
    <meta name="gwt:property"	content="cityZero=1" />
    <!-- /META -->

    <link rel="icon" href="http://www.ofertus.com.br/imagens/favicon.png" />
    <link rel="shortcut icon" href="http://www.ofertus.com.br/imagens/favicon.ico" />

    <!-- SCRIPTS -->
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application" , :media => "screen"%>
    <!-- /SCRIPTS -->

    <%= csrf_meta_tags %>
  </head>

  <body id="inicio">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div id="page">
      <div id="header">
        <!-- TODO: Menu -->
				<div class="admin">
					<div class="intern">
						<ul class="globalNavigation">
              <li><%= link_to_active I18n.t("actions.home"), root_path %></li>
                <li><%= link_to_active I18n.t("actions.todays_offers"), deals_today_path %></li>
                <li><%= link_to_active I18n.t("actions.search_users"), users_path %></li>
              <li><%= link_to 'Blog', 'http://www.dealwit.us', :target => '_blank' %></li>
						</ul>
            <%= render 'devise/menu/login_items' %>
					</div>
				</div>

        <!-- TODO: CATEGORIAS -->
        <div class="logo">
          <div class="content">
            <%= link_to "OfertuS", root_path, :class => "logo" %>
            <% if user_signed_in? %>
              <form action="<%= share_deals_path %>" method="get" class="share_offer_url">
                <fieldset>
                  <legend>Compartilhar</legend>
                  <%= text_field_tag :share, params[:share], :title => "Compartilhe uma oferta" %>
                  <button id="share" type="submit" title="Compartilhar">Compartilhar</button>
                </fieldset>
              </form>
            <% else %>
              <div class="login_facebook">
                <%= link_to "entre com sua conta do facebook", user_omniauth_authorize_path(:facebook), :class => "facebook_login_button" %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="social">
          <div class="fb-like" data-href="https://www.facebook.com/OfertUs" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-font="arial"></div>
          <div class="twitter-follow-button">
            <a href="https://twitter.com/OfertuS" class="twitter-follow-button" data-lang="pt">Siga @OfertuS</a>
            <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
          </div>
        </div>
        <div class="categories">
          <div class="content">
            <ul class="menu">
              <% if controller_name == 'deals' && action_name ==  'today' %>
                <li class="restaurant"><a href="/deals/today/restaurant" title="Visualizar a categoria Restaurantes"><%= Deal.i18n_category(Deal::CATEGORY_RESTAURANT) %></a></li>
                <li class="beauty-health"><a href="/deals/today/beauty_and_health" title="Visualizar a categoria Beleza e saúde"><%= Deal.i18n_category(Deal::CATEGORY_BEAUTY_AND_HEALTH) %></a></li>
                <li class="electronics"><a href="/deals/today/electronics" title="Visualizar a categoria Eletrônicos"><%= Deal.i18n_category(Deal::CATEGORY_ELECTRONICS) %></a></li>
                <li class="culture"><a href="/deals/today/culture" title="Visualizar a categoria Cultura"><%= Deal.i18n_category(Deal::CATEGORY_CULTURE) %></a></li>
                <li class="home"><a href="/deals/today/home_and_appliance" title="Visualizar a categoria Eletrodomésticos"><%= Deal.i18n_category(Deal::CATEGORY_HOME_AND_APPLIANCE) %></a></li>
                <li class="fitness"><a href="/deals/today/fitness" title="Visualizar a categoria Esporte e Lazer"><%= Deal.i18n_category(Deal::CATEGORY_FITNESS) %></a></li>
                <li class="computer"><a href="/deals/today/computer" title="Visualizar a categoria Informática"><%= Deal.i18n_category(Deal::CATEGORY_COMPUTER) %></a></li>
                <li class="clothes"><a href="/deals/today/clothes" title="Visualizar a categoria Vestuário"><%= Deal.i18n_category(Deal::CATEGORY_CLOTHES) %></a></li>
                <li class="travel"><a href="/deals/today/travel" title="Visualizar a categoria Viagens"><%= Deal.i18n_category(Deal::CATEGORY_TRAVEL) %></a></li>
                <li class="kids"><a href="/deals/today/kids" title="Visualizar a categoria Infantil"><%= Deal.i18n_category(Deal::CATEGORY_KIDS) %></a></li>
                <li class="car"><a href="/deals/today/car" title="Visualizar a categoria Artigos automotivos"><%= Deal.i18n_category(Deal::CATEGORY_CAR) %></a></li>
                <li class="others"><a href="/deals/today/others" title="Visualizar a categoria Diversos"><%= Deal.i18n_category(Deal::CATEGORY_OTHER) %></a></li>
              <% else %>
                <li class="restaurant"><a href="/deals/active/restaurant" title="Visualizar a categoria Restaurantes"><%= Deal.i18n_category(Deal::CATEGORY_RESTAURANT) %></a></li>
                <li class="beauty-health"><a href="/deals/active/beauty_and_health" title="Visualizar a categoria Beleza e saúde"><%= Deal.i18n_category(Deal::CATEGORY_BEAUTY_AND_HEALTH) %></a></li>
                <li class="electronics"><a href="/deals/active/electronics" title="Visualizar a categoria Eletrônicos"><%= Deal.i18n_category(Deal::CATEGORY_ELECTRONICS) %></a></li>
                <li class="culture"><a href="/deals/active/culture" title="Visualizar a categoria Cultura"><%= Deal.i18n_category(Deal::CATEGORY_CULTURE) %></a></li>
                <li class="home"><a href="/deals/active/home_and_appliance" title="Visualizar a categoria Eletrodomésticos"><%= Deal.i18n_category(Deal::CATEGORY_HOME_AND_APPLIANCE) %></a></li>
                <li class="fitness"><a href="/deals/active/fitness" title="Visualizar a categoria Esporte e Lazer"><%= Deal.i18n_category(Deal::CATEGORY_FITNESS) %></a></li>
                <li class="computer"><a href="/deals/active/computer" title="Visualizar a categoria Informática"><%= Deal.i18n_category(Deal::CATEGORY_COMPUTER) %></a></li>
                <li class="clothes"><a href="/deals/active/clothes" title="Visualizar a categoria Vestuário"><%= Deal.i18n_category(Deal::CATEGORY_CLOTHES) %></a></li>
                <li class="travel"><a href="/deals/active/travel" title="Visualizar a categoria Viagens"><%= Deal.i18n_category(Deal::CATEGORY_TRAVEL) %></a></li>
                <li class="kids"><a href="/deals/active/kids" title="Visualizar a categoria Infantil"><%= Deal.i18n_category(Deal::CATEGORY_KIDS) %></a></li>
                <li class="car"><a href="/deals/active/car" title="Visualizar a categoria Artigos automotivos"><%= Deal.i18n_category(Deal::CATEGORY_CAR) %></a></li>
                <li class="others"><a href="/deals/active/others" title="Visualizar a categoria Diversos"><%= Deal.i18n_category(Deal::CATEGORY_OTHER) %></a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <!--  CORPO -->
      <div id="body">
         <!-- TODO: FLASH -->
        <%- flash.each do |name, msg| -%>
          <% if name == :error %>
            <div class="alert error_alert" style="opacity: 1; "><p><%= msg %></p></div>
          <% end %>
          <% if name == :alert %>
            <div class="alert warnAlert" style="opacity: 1; "><p><%= msg %></p></div>
          <% end %>
          <% if name == :notice %>
            <div class="alert success_alert" style="opacity: 1; "><p><%= msg %></p></div>
          <% end %>
        <%- end -%>
    
        <%= yield %>
        <%- if controller_name != 'sessions' && controller_name != 'pages' %>
          <div class="side">
            <div class="default_window white_background">
              <div class="title">
                <h3>Melhores Ofertas</h3>
              </div>
              <div class="content">
                <div class="best">
                  <div class="small_deal">
                    <% @best_deals.each do |deal| %>
                      <%= render :partial => 'deals/side_deal', :locals => {:deal => deal} %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="default_window white_background">
              <div class="title">
                <h3>Ofertas Mais Comentadas</h3>
              </div>
              <div class="content">
                <div class="most_commented">
                  <div class="small_deal">
                    <% @most_comment_deals.each do |deal| %>
                      <%= render :partial => 'deals/side_deal', :locals => {:deal => deal} %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="default_window white_background">
              <div class="title">
                <h3>Últimas Ofertas Compartilhadas</h3>
              </div>
              <div class="content">
                <div class="newest">
                  <div class="small_deal">
                    <% @newest_deals.each do |deal| %>
                      <%= render :partial => 'deals/side_deal', :locals => {:deal => deal} %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <%- end %>
      </div>

      <!--  RODAPÉ -->
      <div id="footer">
        <div class="intern bottomMenu">
          <ul class="first">
            <li class="title">Sobre OfertuS</li>
            <li><a href="/pages/whoarewe"><%= I18n.t("actions.who_are_we") %></a></li>
          </ul>

          <ul class="second">
            <li class="title">Categorias</li>
            <li>
              <% if controller_name == 'deals' && action_name ==  'today' %>
                <a href="/deals/today/restaurant"><%= Deal.i18n_category(Deal::CATEGORY_RESTAURANT) %></a>
              <% else %>
                <a href="/deals/active/restaurant"><%= Deal.i18n_category(Deal::CATEGORY_RESTAURANT) %></a>
              <% end %>
            </li>
            <li>
              <% if controller_name == 'deals' && action_name ==  'today' %>
                <a href="/deals/today/beauty_and_health"><%= Deal.i18n_category(Deal::CATEGORY_BEAUTY_AND_HEALTH) %></a>
              <% else %>
                <a href="/deals/active/beauty_and_health"><%= Deal.i18n_category(Deal::CATEGORY_BEAUTY_AND_HEALTH) %></a>
              <% end %>
            </li>
            <li>
              <% if controller_name == 'deals' && action_name ==  'today' %>
                <a href="/deals/today/electronics"><%= Deal.i18n_category(Deal::CATEGORY_ELECTRONICS) %></a>
              <% else %>
                <a href="/deals/active/electronics"><%= Deal.i18n_category(Deal::CATEGORY_ELECTRONICS) %></a>
              <% end %>
            </li>
            <li>
              <% if controller_name == 'deals' && action_name ==  'today' %>
                <a href="/deals/today/culture"><%= Deal.i18n_category(Deal::CATEGORY_CULTURE) %></a>
              <% else %>
                <a href="/deals/active/culture"><%= Deal.i18n_category(Deal::CATEGORY_CULTURE) %></a>
              <% end %>
            </li>
            <li>
              <% if controller_name == 'deals' && action_name ==  'today' %>
                <a href="/deals/today/home_and_appliance"><%= Deal.i18n_category(Deal::CATEGORY_HOME_AND_APPLIANCE) %></a>
              <% else %>
                <a href="/deals/active/home_and_appliance"><%= Deal.i18n_category(Deal::CATEGORY_HOME_AND_APPLIANCE) %></a>
              <% end %>
            </li>
            <li>
              <% if controller_name == 'deals' && action_name ==  'today' %>
                <a href="/deals/today/fitness"><%= Deal.i18n_category(Deal::CATEGORY_FITNESS) %></a>
              <% else %>
                <a href="/deals/active/fitness"><%= Deal.i18n_category(Deal::CATEGORY_FITNESS) %></a>
              <% end %>
            </li>
          </ul>

          <ul class="third">
            <li class="title">Categorias</li>
            <li>
              <% if controller_name == 'deals' && action_name ==  'today' %>
                <a href="/deals/today/computer"><%= Deal.i18n_category(Deal::CATEGORY_COMPUTER) %></a>
              <% else %>
                <a href="/deals/active/computer"><%= Deal.i18n_category(Deal::CATEGORY_COMPUTER) %></a>
              <% end %>
            </li>
            <li>
              <% if controller_name == 'deals' && action_name ==  'today' %>
                <a href="/deals/today/clothes"><%= Deal.i18n_category(Deal::CATEGORY_CLOTHES) %></a>
              <% else %>
                <a href="/deals/active/clothes"><%= Deal.i18n_category(Deal::CATEGORY_CLOTHES) %></a>
              <% end %>
            <li>
              <% if controller_name == 'deals' && action_name ==  'today' %>
                <a href="/deals/today/travel"><%= Deal.i18n_category(Deal::CATEGORY_TRAVEL) %></a>
              <% else %>
                <a href="/deals/active/travel"><%= Deal.i18n_category(Deal::CATEGORY_TRAVEL) %></a>
              <% end %>
            </li>
            <li>
              <% if controller_name == 'deals' && action_name ==  'today' %>
                <a href="/deals/today/kids"><%= Deal.i18n_category(Deal::CATEGORY_KIDS) %></a>
              <% else %>
                <a href="/deals/active/kids"><%= Deal.i18n_category(Deal::CATEGORY_KIDS) %></a>
              <% end %>
            </li>
            <li>
              <% if controller_name == 'deals' && action_name ==  'today' %>
                <a href="/deals/today/car"><%= Deal.i18n_category(Deal::CATEGORY_CAR) %></a>
              <% else %>
                <a href="/deals/active/car"><%= Deal.i18n_category(Deal::CATEGORY_CAR) %></a>
              <% end %>
            </li>
            <li>
              <% if controller_name == 'deals' && action_name ==  'today' %>
                <a href="/deals/today/others"><%= Deal.i18n_category(Deal::CATEGORY_OTHER) %></a>
              <% else %>
                <a href="/deals/active/others"><%= Deal.i18n_category(Deal::CATEGORY_OTHER) %></a>
              <% end %>
            </li>
          </ul>

          <ul class="fourth">
            <li class="title">Informações</li>
            <li><a href="/pages/help"><%= I18n.t("actions.help") %></a></li>
          </ul>

          <ul class="fifth">
            <li class="title">Contato</li>
            <li><a href="http://ofertus.uservoice.com/" target="_blank"><%= I18n.t("actions.talk_with_us") %></a></li>
            <li><a href="http://www.dealwit.us/" target="_blank"><%= I18n.t("actions.follow_our_blog") %></a></li><br/>
            <% if user_signed_in? %>
                <!-- TODO: Menu logado -->
                <li><%= link_to I18n.t("actions.my_profile"), user_path(current_user.username), :class => "specialLink" %></li>
                <li><%= link_to I18n.t("actions.share_an_offer"), new_deal_path, :class => "specialLink" %></li>
                <li><%= link_to I18n.t("actions.logout"), destroy_user_session_path, :class => "specialLink" %></li>
              </ul>
            <% else %>
                <li><%= link_to I18n.t("actions.sign_up"), new_user_registration_path, :class => "specialLink" %></li>
                <li><%= link_to I18n.t("actions.sign_in"), new_user_session_path, :class => "specialLink" %></li>
            <% end %>
          </ul>
        </div>

        <div class="socialMenu">
          <div class="intern">
            <ul>
              <li class="title">Conheça também:</li>
              <li class="first"><a href="http://www.facebook.com/OfertuS" class="facebook" rel="nofollow" target="_blank" title="Facebook">Facebook</a></li>
              <li><a href="http://www.twitter.com/ofertus" class="twitter" rel="nofollow" target="_blank" title="Twitter">Twitter</a></li>
            </ul>
          </div>
        </div>

        <div class="copyright">
          <ul class="intern">
            <li>&copy;2011 ofertus</li>
            <li><a href="/pages/termsofuse"><%= I18n.t('actions.terms_of_use') %></a></li>
            <li><a href="/pages/privacypolicy"><%= I18n.t('actions.privacy_policy') %></a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- User Voice -->
    <script type="text/javascript">
      var uvOptions = {};
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/KhjBP9Wz0hWPZKkPOj6DbQ.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
    </script>
    <!-- User Voice -->

    <!-- Google Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26326461-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <!-- Google Analytics -->
    
    <script>
      $('#share').coolinput('Copie a url da oferta aqui para compartilhar!');
    </script>

  </body>
</html>
