<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="pt-br" dir="ltr" xml:lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>DealWit.Me</title>

    <!-- TODO: META -->
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta name="keywords" content="Guia, consumo, serviços, produtos, satisfação, consumidores, troca de experiências, clientes, ofertas, descontos, compartilhar, opniões, avaliações, dicas, dúvidas, fórum.  " />
    <meta name="description" 	content="Compartilhe, descubra, comente e opine sobre ofertas com seus amigos no DealWit.Me." />
    <meta name="author" content="DealWit.Me" />
    <meta name="gwt:property"	content="locale=pt_BR" />
    <meta name="gwt:property"	content="cityZero=1" />
    <!-- /META -->

    <link rel="icon" href="http://localhost:3000/favicon.ico" />
    <link rel="shortcut icon" href="http://www.dealwit.me/imagens/favicon.png" />

    <!-- SCRIPTS -->
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application" , :media => "screen"%>
    <%= javascript_include_tag 'jquery', 'jquery.maskMoney' %>
    <!-- /SCRIPTS -->

    <%= csrf_meta_tags %>
  </head>

  <body id="inicio">
    <div id="pagina">
      <div id="cabecalho">
        <!-- TODO: Menu -->
				<div class="administracao">
					<div class="interna">
						<ul class="navGlobal">
              <li><%= link_to_active I18n.t("actions.home"), root_path %></li>
              <li><%= link_to_active I18n.t("actions.todays_offers"), deals_today_path %></li>
              <li><%= link_to 'Blog', 'http://www.dealwit.us', :target => '_blank' %></li>
						</ul>

            <%= render 'devise/menu/login_items' %>
					</div>
				</div>

        <!-- TODO: CATEGORIAS -->
        <div class="caminho">
          <div class="conteudo">

            <h1 class="logo">DealWit.Me</h1>

            <form action="<%= search_path %>" method="get" class="busca">
              <fieldset>
                <legend>Buscar</legend>
                <%= text_field_tag :search, params[:search]%>
                <button id="buscar" type="submit">Buscar</button>
              </fieldset>
            </form>
          </div>
        </div>

        <div class="categorias">
          <div class="conteudo">
            <ul class="menu">
              <li class="drink"><a href="/deals/today/drink" title="Visualizar a categoria Bebidas"><%= Deal.i18n_category(Deal::CATEGORY_DRINK) %></a></li>
              <li class="beauty-health"><a href="/deals/today/beauty_and_health" title="Visualizar a categoria Beleza e saúde"><%= Deal.i18n_category(Deal::CATEGORY_BEAUTY_AND_HEALTH) %></a></li>
              <li class="phone-camera"><a href="/deals/today/phone_and_camera" title="Visualizar a categoria Celulares e Câmeras"><%= Deal.i18n_category(Deal::CATEGORY_PHONE_AND_CAMERA) %></a></li>
              <li class="music-movie"><a href="/deals/today/music_and_movie" title="Visualizar a categoria Música e Filmes"><%= Deal.i18n_category(Deal::CATEGORY_MUSIC_AND_MOVIE) %></a></li>
              <li class="home"><a href="/deals/today/home_and_appliance" title="Visualizar a categoria Eletrodomésticos"><%= Deal.i18n_category(Deal::CATEGORY_HOME_AND_APPLIANCE) %></a></li>
              <li class="electronics"><a href="/deals/today/electronics" title="Visualizar a categoria Profissionais autônomos"><%= Deal.i18n_category(Deal::CATEGORY_ELECTRONICS) %></a></li>
              <li class="fitness"><a href="/deals/today/fitness" title="Visualizar a categoria Esporte e Lazer"><%= Deal.i18n_category(Deal::CATEGORY_FITNESS) %></a></li>
              <li class="computer"><a href="/deals/today/computer" title="Visualizar a categoria Informática"><%= Deal.i18n_category(Deal::CATEGORY_COMPUTER) %></a></li>
              <li class="book"><a href="/deals/today/book" title="Visualizar a categoria Livros"><%= Deal.i18n_category(Deal::CATEGORY_BOOK) %></a></li>
              <li class="clothes"><a href="/deals/today/clothes" title="Visualizar a categoria Vestuário"><%= Deal.i18n_category(Deal::CATEGORY_CLOTHES) %></a></li>
              <li class="travel"><a href="/deals/today/travel" title="Visualizar a categoria Viagens"><%= Deal.i18n_category(Deal::CATEGORY_TRAVEL) %></a></li>
              <li class="restaurant"><a href="/deals/today/restaurant" title="Visualizar a categoria Restaurantes"><%= Deal.i18n_category(Deal::CATEGORY_RESTAURANT) %></a></li>
              <li class="toy"><a href="/deals/today/toy" title="Visualizar a categoria Brinquedos"><%= Deal.i18n_category(Deal::CATEGORY_TOY) %></a></li>
              <li class="car"><a href="/deals/today/car" title="Visualizar a categoria Artigos e Peças automotivos"><%= Deal.i18n_category(Deal::CATEGORY_CAR) %></a></li>
            </ul>
          </div>
        </div>
      </div>

      <!--  CORPO -->
      <div id="corpo">
         <!-- TODO: FLASH -->
        <%- flash.each do |name, msg| -%>
          <% if name == :error %>
            <div class="alerta alertaErrado" style="opacity: 1; "><p><%= msg %></p></div>
          <% end %>
          <% if name == :alert %>
            <div class="alerta alertaAviso" style="opacity: 1; "><p><%= msg %></p></div>
          <% end %>
          <% if name == :notice %>
            <div class="alerta alertaCerto" style="opacity: 1; "><p><%= msg %></p></div>
          <% end %>
        <%- end -%>
        
        <div id="corpo" >
          <%= yield %>
          <%- if controller_name != 'sessions' && controller_name != 'pages' %>
            <div class="lateral">
              <div class="janelaPadrao estabelecimentosBairro">
                <div class="barra">
                  <% if user_signed_in? %>
                    <h3>Painel do Usuário</h3>
                  <% else %>
                    <h3>O Que é o DealWit.Me?</h3>
                  <% end %>
                </div>
                <div class="conteudo">
                  <% if user_signed_in? %>
                    <p><%= link_to(image_tag(current_user.gravatar_url(:size => 70)),user_path(current_user.username)) %></p><br/>
                    <p><%= link_to_active I18n.t("actions.my_profile"), user_path(current_user.username) %></p><br/>
                    <p><%= link_to "Editar meus dados", edit_user_registration_path %></p>
                  <% else %>
                    <p>Um lugar onde podemos compartilhar ofertas e opiniões com nossos amigos.</p>
                    <br/>
                    <p>O objetivo do DealWit.Me é facilitar o acesso e a busca por ofertas ue se encontram espalhadas na rede, permitindo uma interação maior entre os usuários e as ofertas.</p>
                    <br/>
                    <p><%= link_to 'Crie seu perfil', new_user_registration_path %> e comece já a compartilhar ofertas com seus amigos.</p>
                    <br/>
                    <p>Leia mais sobre quem somos no link <a href="/pages/whoarewe">Quem Somos</a>.</p>
                  <% end %>
                </div>
              </div>
              <div class="banner">
                <%= image_tag asset_path('banner.jpg') %>
              </div>
            </div>
          <%- end %>
        </div>
      </div>

      <!--  RODAPÉ -->
      <div id="rodape">
        <div class="interna menuBottom">
          <ul class="first">
            <li class="title">Sobre DealWit.Me</li>
            <li><a href="/pages/whoarewe"><%= I18n.t("actions.who_are_we") %></a></li>
          </ul>

          <ul class="second">
            <li class="title">Categorias</li>
            <li><a href="/deals/today/drink"><%= Deal.i18n_category(Deal::CATEGORY_DRINK) %></a></li>
            <li><a href="/deals/today/beauty_and_health"><%= Deal.i18n_category(Deal::CATEGORY_BEAUTY_AND_HEALTH) %></a></li>
            <li><a href="/deals/today/phone_and_camera"><%= Deal.i18n_category(Deal::CATEGORY_PHONE_AND_CAMERA) %></a></li>
            <li><a href="/deals/today/music_and_movie"><%= Deal.i18n_category(Deal::CATEGORY_MUSIC_AND_MOVIE) %></a></li>
            <li><a href="/deals/today/home_and_appliance"><%= Deal.i18n_category(Deal::CATEGORY_HOME_AND_APPLIANCE) %></a></li>
            <li><a href="/deals/today/electronics"><%= Deal.i18n_category(Deal::CATEGORY_ELECTRONICS) %></a></li>
          </ul>

          <ul class="third">
            <li class="title">Categorias</li>
            <li><a href="/deals/today/fitness"><%= Deal.i18n_category(Deal::CATEGORY_FITNESS) %></a></li>
            <li><a href="/deals/today/computer"><%= Deal.i18n_category(Deal::CATEGORY_COMPUTER) %></a></li>
            <li><a href="/deals/today/book"><%= Deal.i18n_category(Deal::CATEGORY_BOOK) %></a></li>
            <li><a href="/deals/today/clothes"><%= Deal.i18n_category(Deal::CATEGORY_CLOTHES) %></a></li>
            <li><a href="/deals/today/travel"><%= Deal.i18n_category(Deal::CATEGORY_TRAVEL) %></a></li>
            <li><a href="/deals/today/toy"><%= Deal.i18n_category(Deal::CATEGORY_TOY) %></a></li>
            <li><a href="/deals/today/car"><%= Deal.i18n_category(Deal::CATEGORY_CAR) %></a></li>
          </ul>

          <ul class="fourth">
            <li class="title">Informações</li>
            <li><a href="/pages/help"><%= I18n.t("actions.help") %></a></li>
          </ul>

          <ul class="fifth">
            <li class="title">Contato</li>
            <li><a href="http://dealwitme.uservoice.com/" target="_blank"><%= I18n.t("actions.talk_with_us") %></a></li>
            <li><a href="http://www.dealwit.us/" target="_blank"><%= I18n.t("actions.follow_our_blog") %></a></li><br/>
            <% if user_signed_in? %>
                <!-- TODO: Menu logado -->
                <li><%= link_to I18n.t("actions.my_profile"), user_path(current_user.username), :class => "specialLink" %></li>
                <li><%= link_to I18n.t("actions.share_an_offer"), new_deal_path, :class => "specialLink" %></li>
                <li><%= link_to I18n.t("actions.logout"), destroy_user_session_path, :class => "specialLink" %></li>
              </ul>
            <% else %>
                <li><%= link_to I18n.t("actions.sign_up"), new_user_registration_path, :class => "specialLink" %></li>
                <li><%= link_to I18n.t("actions.sign_in"), new_user_session_path, :class => "specialLink" %></li>
            <% end %>
          </ul>
        </div>

        <div class="socialMenu">
          <div class="interna">
            <ul>
              <li class="title">Conheça também:</li>
              <li class="first"><a href="http://www.facebook.com/DealWit.Me" class="facebook" rel="nofollow" target="_blank" title="Facebook">Facebook</a></li>
              <li><a href="http://www.twitter.com/dealwitme" class="twitter" rel="nofollow" target="_blank" title="Twitter">Twitter</a></li>
            </ul>
          </div>
        </div>

        <div class="copyright">
          <ul class="interna">
            <li>&copy;2011 dealwitme</li>
            <li><a href="/pages/termsofuse"><%= I18n.t('actions.terms_of_use') %></a></li>
            <li><a href="/pages/privacypolicy"><%= I18n.t('actions.privacy_policy') %></a></li>
          </ul>
        </div>

    <!-- User Voice -->
    <script type="text/javascript">
      var uvOptions = {};
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/KhjBP9Wz0hWPZKkPOj6DbQ.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
    </script>
    <!-- User Voice -->
  </body>
</html>
